[2014-05-19 14:45] NRauh opened #10 "File uploading being cancelled on some files"
I'm trying to use Skipper to save uploaded images, but it's only working on some files.
Some files finish, and successfully write to the disk. Some files finish uploading, but the file that's written is empty, and some files just hang on uploading until it times out.
When it cancels or hangs, it's on the same file, so it isn't randomly not working.

I found two working and non-working files to log

[2014-06-09 19:47] mikermcneil opened #14 "if EMAXBUFFER is exceeded, respond to(/abort) the request directly (since the callback is not necessarily defined)"
Should also verify that ETIMEOUT follows the same rules

[2014-07-03 14:33] ArVan opened #19 "Parsing json from ' multipart/form-data' request"
Hi all.
I noticed that the body parser is missing one big feature.

See, there are cases when request has `multipart/form-data` content type, and sends `json` parameter in  body. I know that  **skipper** checks content type, and if it is a multipart request, it does not even try to parse the body as json.

I managed somehow to make this check pass for my special case, but then comes another issue.

[2014-07-27 14:30] sixpounder opened #23 "Empty upload fields"
If e.g. a form is uploaded with an empty input field skipper fails with

Error: ETIMEOUT: An Upstream (`undefined`) timed out waiting for file(s). No files were sent after waiting 500ms.

even if .upload() method is not called at all. It is enough to call req.file('fileId') somewhere in the code (for example, to check if an optional file field has files in it)

Shouldn't it be fail safe when an in

[2014-08-13 14:20] tibotiber opened #33 "Incompatibility with BootstrapValidator"
Hi @mikermcneil!
Following up from #30, I had already arranged the file param to be last as it was quite well pointed out [here](http://sailsjs.org/#/documentation/concepts/Upgrading?q=file-uploads). Great upgrading doc by the way. So basically it is still not working. Below a bit more details.

The end of my view ejs file looks like this:
[code]
and the part of the bootstrapValidator related to `

[2014-08-14 15:28] AaronShea opened #35 "Limiting files by type"
I'm wondering what the best way to go about limiting the file types for uploads would be.
For example, a function that can be called when the file is finished streaming, but before it is saved to disk/uploaded to s3. Allowing the upload to be stopped if the file is not the correct type.

[2014-08-19 08:20] koukuko opened #36 "Error when attempting to upload a file that exceeds 'maxBytes' limit"
Error when attempting to upload a file that exceeds 'maxBytes' limit, is there anything wrong with skipper or is it my problem?

[code]

[2014-08-21 17:01] silenceisgolden opened #38 "No files received by Upstream (ETIMEOUT)"
I've isolated my use case [here](https://github.com/silenceisgolden/sails-file-upload).

To summarize, I am trying to use something asynchronous on the client side to upload a file, keeping CSRF support intact. I am getting CSRF mismatch issues when I send the request over websockets, so I tried with Ajax and I get a successful request but no files uploaded. The Ajax method is the one currently se

[2014-08-31 16:20] istian opened #39 "FileAPI pollyfil _files[0].stream has no value"
Hi,

I was working on a file upload page which I need to IE8 browser which lead me to using FileApi pollyfill. When uploading file, the controller fetches data via req.file('file_element')._files[0].stream but using the FileApi the "stream" property is missing or undefined, causing error "ETIMEOUT: An Upstream (`undefined`) timed out waiting for file(s). No files were sent after waiting 500ms".

C

[2014-09-02 18:37] andyhu opened #40 "Error ocurred when trying to access the file as a receiving stream"
When I use the code similar as in the documentation:
[code]
I received an error saying fd is `undefined` in line 82 of `skipper-disk/standalone/build-disk-recieve.js`
[code]
I guess it's because of I didn't _attach the fd_ as instructed below in the documentation:
`Also bear in mind that you must first intercept the upstream and attach an fd (file descriptor) property to each incoming file stream.

[2014-09-04 15:45] friktor opened #41 "How works onProgress?"
The documentation contains a testing option onProgress. But it is not specified how it works - it returns, or that it must be set. This causes difficulties for example if you use jquery upload. Could you add in the documentation description of this option?

[2014-09-20 16:37] dottodot opened #42 "Uploading from ios hangs"
My site uses dropzone.js to upload files which is working fine with skipper. But when I try to upload form my iphone it hangs for a while and then I get an error of

[code]

any suggestion on what the cause of this would be?

[2014-10-03 16:20] Aizenko opened #43 "Upload progress event"
With

I got trace containing
written: 3230,  total: 3230,  percent: 100,
written: 5832390,  total: 5832390,  percent: 100,

percent is always 100% and It doesn't seem to have the file size (total).

Regards,

[2014-10-07 16:12] mattmawhinney opened #44 "saveAs Option - String"
Using the saveAs option with string input returns the following:

![screen shot 2014-10-07 at 12 09 12 pm](https://cloud.githubusercontent.com/assets/3609302/4545624/57f6a21c-4e3c-11e4-8a36-8a6ab61e7444.png)

However, if I use the filename option, my code works.

![screen shot 2014-10-07 at 12 11 05 pm](https://cloud.githubusercontent.com/assets/3609302/4545652/a6d52994-4e3c-11e4-9803-dfabe356b952

[2014-10-08 10:21] Aizenko opened #45 "Multiple files"
Hi,
Uploading one file at a time is working. But if I want to put several files in the same upload it crashed with

`verbose: Error: EMAXBUFFER: An Upstream ('file0') timed out before it was plugged into a receiver. It was still unused after waiting 2500ms. You can configure this timeout by changing the 'maxTimeToBuffer' option.`
`verbose: Error: EMAXBUFFER: An Upstream ('file1') timed out before

[2014-10-10 09:09] deathg0d opened #46 "Uploading to s3 from server"
Hi just wondering if there is a way to upload files that already exist in a temp folder on the server (not from the client) to the Amazon S3 server. As of now I think we can only upload using ```req.files('file') ...```

[2014-10-31 22:51] treyrich2001 opened #48 "maxWaitTimeBeforePassingControlToApp Times Out Behind Load Balancer With SSL"
Hey So I wanted to open dialog about this, I can submit a pull request if a decision is reached on how this should be resolved. But what's happening is when my app is running behind an AWS load balancer with SSL as the protocol the maxWaitTimeBeforePassingControlToApp is taking place before the app has the ability to process the textparams. If I increase this variable a bit everything works great.

[2014-11-12 02:34] cburatto opened #49 "Aborted upload crashes the server"
Adapter: skipper-gridfs
Basic controller code:

[code]

I have a jQuery-File-Upload client ( https://blueimp.github.io/jQuery-File-Upload/ ) impementing the  "cancel" procedure by using jqXHR abort described here (https://github.com/blueimp/jQuery-File-Upload/wiki/API ):

[code]

After the client aborts, the server crashes with the following message:

[code]

I've used try/catch but it didn't work

[2014-11-12 09:26] samueljoos opened #50 "allParams() is empty when sending data from an IOS app"
Hi,

When I try to send multipart data with post data from an IOS app to sailsjs the the params are alway empty. I use this Swift code for sending the data:

[code]

on the sailsjs side I use this:
[code]

But the params are received when using the same data in a simple html form.

When I monitor the request with Charles Proxy I get this:
https://www.dropbox.com/s/jp4i3vz1ka6vfli/Screenshot%202014

[2014-11-13 21:36] cburatto opened #51 "Chunked uploads create multiple files"
While using the skipper-disk adapter with a chunked upload, the server creates multiple files, instead of appending to the existing parts. Is there any option to deal with this?

[2014-12-05 01:36] boogerlad opened #53 "Limit number of files to upload and limit file type"
This doesn't seem to be a feature of skipper. I would implement it myself if someone could give me some guidance with the architecture of this.

[2014-12-10 18:08] albertpeiro opened #54 "How do you access the temporary files before uploading to S3 with skipper?"
Is there any way I can know the names of the the temporary files from req (in an api service) before I upload ?

If there's no way: how do I access req.files. Doesn't seem to work?

Thank you

[2014-12-11 21:32] mgenev opened #55 "docs don't make it clear what the file parameter should be and where it comes from"
it just says req.file('avatar') and that it's a file parameter. But how does the server know what to anticipate? Where is the file being named? I've figured it out, but it would be nice if the docs pointed the reader to a good direction about how to set it on the client...

[2014-12-25 09:35] dbkaplun opened #56 "Unclear how to detect when file upload is completed"

[2014-12-26 13:36] hellowin opened #57 "How to get file name instead of file full system path after uploaded?"
The callback after `upload` success is just an empty array. Did I miss something or it's what it should be?

[2014-12-30 21:49] gotmikhail opened #58 "err is null on ETIMEOUT"
Trying to figure out why the `err` object returned is `null` when we have an `ETIMEOUT`.

Is that the intent? I'm actually intentionally creating an `ETIMEOUT` to document how to handle it from the client, but right now the server has nothing to differentiate.

I guess you could check the length of the `uploadedFiles`, but it seems to me like we should get an `err`.

[2015-01-02 04:15] cburatto commented on #57
Thanks for clarifying. I personally prefer to have the full path and then decide how to break it down if needed. As it is, I can simply write some code to manipulate the file instead of rebuilding the path to get access to the file. But each case is different.

[2015-01-02 04:36] hellowin commented on #57
@cburatto I see. Is Skipper it self will stay on this way? I think an API that return a filename is needed. But if it's doesn't make sense, it's ok since it's retrievable via full path.
I'm also afraid it will broke some existing user if the API changed :laughing:

[2015-01-15 03:54] JerryC8080 commented on #53
i have the save problem，mark here and i wonder how to fix it

[2015-01-16 10:32] christopherrolfe198 opened #60 "AJAX file uploading issues with not getting the file on sails"
I'm having an issue with uploading a file over ajax.
When the form is submitted I can't seem to access the file use req.file('image');

JavaScript
[code]
Sails controller action
[code]
I can see the file being sent through the network tab with the correct multipart headers it just doesn't seem to be arriving in sails.

When I've inspected the `req.file('image')` object I can see an empty `_files`

[2015-01-23 16:30] stavrosf4 commented on #57
If I understand correctly what you're asking, you can take the full path stored in fd, use the split method with '/' on it, and the last element will always be the filename with the extension.

[2015-01-23 16:35] mikermcneil commented on #23
Hey guys because of how this works, you need to handle the .upload() callback even for optional uploads. I'll write up an example

[2015-01-23 17:13] mikermcneil commented on #60
That looks right to me- are you getting anything in `err`?

[2015-01-23 17:33] christopherrolfe198 commented on #60
@mikermcneil `err` is null.

[2015-01-23 17:33] mikermcneil commented on #58
@gotmikhail Good question.  ETIMEOUT fires when `maxTimeToWaitForFirstFile` is exceeded (i.e. https://github.com/balderdashy/skipper/blob/master/standalone/Upstream/Upstream.js#L28).  This normally occurs when a request to one of your routes using skipper is taking a long time (slow connection), whether or not a file is actually being uploaded.  It would be great to have a test which triggered by

[2015-01-23 18:13] mikermcneil commented on #60
So there are a few different cases where this can happen- I'm looking at it now.

One of those cases is on EMAXBUFFER-- in which case, if you have partially-finished files, you'll get something like:

[code]

[2015-01-23 19:01] christopherrolfe198 commented on #60
@mikermcneil Not sure if this helps but I've created a base sails app with an example of what I'm trying to do.

This is the [commit](https://github.com/christopherrolfe198/ajax-upload-example-sails/commit/f8de539f2a1bb72a472fb114b589e11ddbe95bcd) with all the changes and I've checked when uploading an example png I get the same.

I've used this [image](https://placekitten.com/g/400/330) to upload

[2015-01-23 19:03] mikermcneil commented on #60
awesome thank you

[2015-01-23 21:41] mikermcneil commented on #60
@christopherrolfe198 can you try out `skipper@0.5.4` and `skipper-disk@0.5.4`?

[2015-01-23 21:41] mikermcneil commented on #58
@gotmikhail can you try out skipper@0.5.4 and skipper-disk@0.5.4?

[2015-01-23 21:42] mikermcneil commented on #56
@secrettriangle nothing like that in here yet-- skipper-disk is a good place to start though.  If we come up with a good way of emitting a particular event, we can make that part of the spec for skipper adapters.

[2015-01-23 21:44] mikermcneil commented on #55
@mgenev ah good question.  This is the whole point behind Skipper- it knows what's being uploaded based on the field you pass to `req.file()`.  In the mean time, before your app-level code calls `req.file()` it uses streams2 and TCP backpressure to keep the bytes at bay.  It will never buffer more bytes in memory than allowed by the streams' `highWaterMark`s.  Just in case, there are a couple of f

[2015-01-23 21:44] #55 closed

[2015-01-23 21:44] mikermcneil commented on #51
@cburatto Haven't been able to replicate-- would you mind providing a test case?  Also, can you try out skipper@0.5.4 and skipper-disk@0.5.4?

[2015-01-23 21:47] mikermcneil commented on #50
@mrtavo @samueljoos maybe the default swift implementation doesn't send file parameters last?  To send files and text body params in the same request with skipper, you'll want to make sure the text params come _first_, before the body param.  Hope that helps! (also please try out skipper@0.5.4 and skipper-disk@0.5.4 and let me know if things get better)

[2015-01-23 21:55] mikermcneil commented on #49
Thanks @cburatto - this is solved in skipper@0.5.4 and skipper-disk@0.5.4

[2015-01-23 21:59] mikermcneil commented on #40
@farneman yup @andyhu's pr resolves this-- would you mind trying out the latest skipper-disk and skipper from npm and reporting back whenever you have a sec?  Thanks to you both!

[2015-01-23 21:59] #40 closed

[2015-01-23 23:59] christopherrolfe198 commented on #60
I've just run an `npm install` in that repo locally and it pulled both in from the looks of it.
Err now contains a timeout.

[code]

[2015-01-24 00:03] hellowin commented on #57
@stavrosf4 yes it's true, I already mentioned in my comment above. I use:

[code]

But it's very inconvenient, because the path is depends on environment/ OS that we use. For example in Windows, it will result nothing. Because Windows use "\" not "/".

[2015-01-25 04:21] cburatto commented on #51
Kind of in a hurry, let me give some basic info:
Server: sails 0.10.5
updated skipper to 0.5.4
skipper-disk 0.5.4
(please note since skipper is installed by default, I am not using  "require('skipper')", but updated skipper in package.json" -- I hope it s catching it)

Client:
Using Blueimp with chunked upload
https://github.com/blueimp/jQuery-File-Upload/wiki/Chunked-file-uploads
maxChunkSize: 10

[2015-01-26 08:17] radkodinev commented on #23
@mikermcneil An example would be great, thanks in advance :)

[2015-01-26 22:56] mikermcneil commented on #58
@gotmikhail this is resolved as of `0.5.4`.  In `0.5.5` i increased default ms before ETIMEOUT to 10 seconds (and also fixed an issue that was causing hanging issues when content-type errors from multiparty that occurred BEFORE `.upload()` was called on one or more upstreams were received)

[2015-01-26 22:56] #58 closed

[2015-01-26 22:57] mikermcneil commented on #38
@silenceisgolden In 0.5.5 i increased default ms before ETIMEOUT to 10 seconds (and also fixed an issue that was causing hanging issues when content-type errors from multiparty that occurred BEFORE .upload() was called on one or more upstreams were received)

[2015-01-26 22:57] #38 closed

[2015-01-26 22:58] mikermcneil commented on #23
@radkodinev @ReyesMagos @kvermeille @pavlo @sixpounder guys I think this is finally solved in all (or at least most) cases.  I tested extensively over the past few days.

In 0.5.5 i increased default ms before ETIMEOUT to 10 seconds (and also fixed an issue that was causing hanging issues when content-type errors from multiparty that occurred BEFORE .upload() was called on one or more upstreams we

[2015-01-26 22:58] #23 closed

[2015-01-26 23:00] mikermcneil commented on #23
@radkodinev re example, try sending only text params (no files) to `POST /file/upload` in this sample app https://github.com/sails101/file-uploads/blob/master/api/controllers/FileController.js#L36

[2015-01-26 23:02] mikermcneil commented on #14
this is taken care of in `0.5.5`

[2015-01-26 23:02] #14 closed

[2015-01-26 23:04] mikermcneil commented on #10
@ArVan would you mind taking 0.5.5 for a spin?  In your sample app, you can do:

[code]

to get Skipper to spit out verbose logs.

Thanks a lot, and I appreciate your patience.  We made a lot of progress over the last few days.

[2015-01-26 23:06] mikermcneil commented on #60
@christopherrolfe198 ok, one more time, sorry :)  Would you try `0.5.5`?  You can force the install by doing:

[code]

Then, to test w/ debug logs:
[code]

[2015-01-27 01:48] mikermcneil commented on #51
@cburatto thanks, that gives me a good place to start from.  Haven't seen this before, but I also haven't used that particular setting; so I'll try and replicate.  If you have a sec, can you drop your front-end code in a repo?  No worries about automated tests yet.  I wonder if it's triggering the controller action twice?

[2015-01-27 01:55] mikermcneil commented on #48
@treyrich2001 Hey Trey, thanks for the heads up.  This should be resolved in 0.5.5 if you wouldn't mind giving that a go?  Easiest way is to go in your sails project and run:

[code]
_(alternatively, you could clone this repo, run `npm link` in there, then run `npm link skipper` in your sails projects' sails dep, i.e.  `cd ./node_modules/sails && npm link skipper`)_

[2015-01-27 01:55] #48 closed

[2015-01-27 01:56] mikermcneil commented on #56
@secrettriangle  PS- if you have some more details on the use case you're trying to implement, that'll help instruct how we implement the api

[2015-01-27 05:57] christopherrolfe198 commented on #60
@mikermcneil Thanks for all the help.

After running skipper in debug mode it produced the following:
[code]
After some googling I came across [this](http://stackoverflow.com/questions/12348216/uploading-a-file-with-xmlhttprequest-missing-boundary-in-multipart-form-data) stack overflow question.

It seems that when sending multi part data over ajax you shouldn't specify the content headers as the

[2015-01-27 05:57] #60 closed

[2015-01-27 11:31] radkodinev commented on #23
@mikermcneil Thanks. Version 0.5.5 works great in my application.

[2015-01-28 10:47] sixpounder commented on #23
@mikermcneil works for me too. Thanks!

[2015-01-29 08:58] mikermcneil commented on #45
@Alzenko would you post the code you're using?  I'd do it like:

[code]

[2015-01-29 09:01] mikermcneil commented on #45
My guess is that the reason you're getting EMAXBUFFER is because if you put the second `req.file(..).upload()` inside of the callback for the first, Skipper is having to hold on to incoming files from the other field if they come in first.  There's actually not a whole lot wrong with this since streams2 in node implement backpressure (it's not like you're buffering TBs of files in memory-- node pu

[2015-01-29 09:29] secrettriangle commented on #56
Well, as I'm using it now, I'm reading directly from `uploadedFile.fd`, which seems to have all the uploaded data stored already, but it's confusing because `status` is `'bufferingOrWriting'` rather than `'completed'` or similar. I'm wondering whether I'm doing it correctly (reading directly within the `.upload` callback) or if I'm overlooking something?

[2015-01-29 15:54] mikermcneil commented on #54
Hey @albertpeiro, thanks for asking this question.  Because it's a complicated answer, I put a lot of thought into it and started putting together a blog post.  I answered your questions inline below for quick reference; but also make sure and also check out the conceptual diagram.  I'll also post a link to the final post when I finish it.

### Is there any way I can know the names of the the temp

[2015-01-29 16:19] mikermcneil commented on #54
@albertpeiro added intercept function discussed above to ROADMAP.md in https://github.com/balderdashy/skipper/commit/9916b4c7db31c7c66caeb7bd6552935c0f4dc3ac

[2015-01-29 16:21] sgress454 commented on #54
Another oft-overlooked benefit of Skipper is that it enables you to monitor file upload progress on the server (via the `onProgress` event), something that's impossible using schemes where the entire file is uploaded before it becomes available in the request.

[2015-01-29 16:22] mikermcneil commented on #35
@aaron524 see https://github.com/balderdashy/skipper/issues/54#issuecomment-72048398

@johntom thanks for sharing!  I could use some help with https://github.com/balderdashy/skipper/commit/9916b4c7db31c7c66caeb7bd6552935c0f4dc3ac if you have some time to take a look (just released skipper 0.5.5 a couple of days ago btw)

[2015-01-29 17:47] johntom commented on #35
Hi Mike,

Will take look and I'm on board for any help.

John

From: Mike McNeil [mailto:notifications@github.com]
Sent: Thursday, January 29, 2015 11:23 AM
To: balderdashy/skipper
Cc: John R. Tomaselli
Subject: Re: [skipper] Limiting files by type (#35)

@aaron524 <https://github.com/aaron524>  see #54 (comment) <https://github.com/balderdashy/skipper/issues/54#issuecomment-72048398>

@johntom <h

[2015-01-30 18:36] albertpeiro commented on #54
thanks @mikermcneil for thoroughness of your answer.

My scenario is this:
- API-only in sailsjs with skipper
- Final storage is S3 in a separate vpc.
- Client side app uploads small images (up to 2MB let's say)
- API is capable of validating a set of constraints (width, height, ratio, kilobytes) on the image before it transfers to S3 and return validation errors to client
- (in the future) API is

[2015-01-30 18:44] albertpeiro commented on #54
@sgress454 thanks for sharing that! I wasn't aware. Surely useful at least for logging progress, but I'm sure there'll be other interesting advanced use cases.

[2015-01-31 16:48] Winangel opened #62 "skipper not using adapter"
Hi there,

I tried to use skipper-s3 adapter for file uploads. When I upload the file things goes well except that skipper keep using skipper-disk adapter and do not upload fil to s3. Here is my code :

[code]

I also tried to use gridfs adapter for testing this but it had the same behavior. I don't get any errors.

[2015-01-31 22:39] albertpeiro commented on #57
I use this, which I find pretty neat (http://nodejs.org/api/path.html#path_path_basename_p_ext):

    var path = require('path');
    file.filename = path.basename(file.fd);

[2015-02-01 09:10] hellowin commented on #57
@albertpeiro woah very nice, thank you very much. It looks like the core dev still focus on Sails core. I'll close this issue.

[2015-02-01 09:10] #57 closed

[2015-02-01 12:25] Winangel commented on #62
Problem solved, just had to set skipper as body parser in config files.

[2015-02-02 13:37] penciltim commented on #45
@mikermcneil I've encounter this problem, and your guess is right. I put one upload inside another.
Your solution using async is perfect, thanks!!!

[2015-02-02 21:51] cburatto commented on #51
Sorry for the delay: busy as hell. I've been checking this in more details and the thing is that, although the browser is able to  "chunk" the files, the server has to be aware and reassemble the chunks. So the Skipper adapters should be prepared to check this possibility and act accordingly.

It seems the most common technique used is by reading the HTTP headers:

``Content-Type``
``Content-Range

[2015-02-04 01:04] dylanbathurst commented on #41
See here if you haven't already [https://github.com/balderdashy/skipper/issues/43](https://github.com/balderdashy/skipper/issues/43)

[2015-02-08 07:14] ptariche opened #63 "Using Dropzone.js & Sails beta w/ skipper & skipper s3"
I receive the following errors while running debug:

 skipper Set up "maxTimeToWaitForFirstFile" timer for 10000ms +0ms
Acquiring new Upstream for field `file[0]`
  skipper passed control to app because first file was received +1ms
  skipper waiting for any text params +1ms
Upstream: Pumping incoming file through field `file[0]`
  skipper Something is trying to read from Upstream `file[0]`... +6ms

[2015-02-12 07:52] ArVan opened #64 "Multipart/form-data request with compressed params"
Hi there. I am implementing an api which works with mobile apps. Now there is a POST request in my backend which receives some images and text parameters. The request is `multipart/form-data`.
We are now trying to implement request compression. The mobile app constructs request where each text parameter and attached file are being `gzipped`. So when the request reaches my controller, I see the val

[2015-02-22 15:24] moglash commented on #23
Hello guys i've still got this error when `file` parameter is missing
my code: https://gist.github.com/moglash/30723a81d10c873f21cb
[code]

[2015-02-22 15:29] barczaG opened #65 "Empty upload fields again in 0.5.5"
I have the same issue as in #23 .

my code: https://gist.github.com/moglash/30723a81d10c873f21cb
error:
[code]

[2015-02-22 20:12] blackbumer commented on #50
I use skipper-gridfs and have same problem. I tried use postman with Text parameters first and it didn't help

[2015-02-22 20:13] blackbumer commented on #50
It works on local host but doesn't work on remote host

[2015-02-23 05:28] blackbumer commented on #50
I made a test app on Heroku
here is controller code
    post: function(req, res, next) {
        debug("Upload asset");
        var md5 = req.body.md5;
        var aType = parseInt(req.body.aType);
        debug("md5 [%s], asset type (%s)", md5, aType);
        res.json({
            md5: md5,
            aType: aType
        });
    },

You can use postman to check it. Once you add file at the en

[2015-02-23 05:47] blackbumer commented on #50
[code]

[2015-02-23 06:54] blackbumer commented on #50
this fix helped me
https://github.com/blackbumer/skipper/commit/364a4153a6fcd1f053c70f55e3d735868035a55d

[2015-02-23 19:20] kvermeille commented on #23
@mikermcneil excellent!!!

[2015-02-25 04:47] martingg88 opened #66 "it exclude empty field value from req. body"
it exclude empty field value from req. body. any idea?
how to make sure it include all the submitted field value including empty value as well

[2015-02-27 01:29] vinhtq opened #67 "Problem with upload multiple files"
When i try to upload one file, everything is ok!
But when i upload multiples, skipper does not work! I think because the upload try to use array in their param, so skipper does not understand!

Here is the code:
HTML:

[code]

Sailsjs:

[code]

The log always give the 0 result

[2015-02-28 19:11] corbanb opened #68 "req.body parse broken"
I have a form with multiple inputs for a user to upload an image and create their profile. When I use `multipart/form-data` the form only gets the data before the file input. After the file input req.body's data is empty. I see the right info in chrome's console as well.

Note: this is happening irregularly as well.

sails - 10.5
skipper - 0.5.5

[2015-02-28 20:35] treyrich2001 commented on #42
+1. I'm getting this exact same issue, and it's causing a lot of grief. I haven't gotten a chance to dig very deep into it yet, but I do know my client who's being affected by this is extremely annoyed so I'll probably have to dig into it pretty soon. Would love to hear from any core contributors (or @dottodot) on insights into work arounds on this before I duplicate work that's already been done

[2015-03-02 07:38] denismars opened #69 "Client Side Uploading via Ajax"
Here's a simple example code to hopefully save you time trying to figure out how to to get ajax uploader to work with Skipper.

[code]
The key is that skipper supports Multipart/Form-Data so to get your ajax to work we need to make the ajax call formatted to transmit it's data as a FormData such that req.file('nameHere') can pick it up and process it correctly.

[2015-03-02 10:07] dottodot commented on #42
From what I remember the issue was caused by the first release of ios8 and was fixed in one of the updates.

[2015-03-02 13:08] RSSGergelyMunkacsy commented on #67
I think you need to use `file` key `instead of `files`in Sailjs.

[2015-03-02 17:18] treyrich2001 commented on #42
Awesome. I'm actually remembering having this issue from before now that you mention it being an iOS bug. That helps. Thanks.

[2015-03-03 01:15] vinhtq commented on #63
I have the same problem. I think there is bug may be in both side: dropzonejs or skipper

You still can upload the file if you set
[code]
in dropzonejs. Everything works but you cannot upload multiple file

The second is may be skipper cannot receive multiple files upload as an array!
Because when you set
[code]
in dropzonejs, it will auto add [] to the params.

Example:
[code]
You server will rec

[2015-03-03 01:17] vinhtq commented on #67
Sorry for this mistake!
But i still cannot upload if i change the name to files instead of file
Could you please take a look at this issues:
https://github.com/balderdashy/skipper/issues/63

[2015-03-03 18:09] Nox-404 commented on #68
I got the same, please fix this :+1:

[2015-03-04 07:45] RSSGergelyMunkacsy commented on #67
Sorry, I have no time for digging into it correctly, but for me, this is work correctly:
[code]

[code]

So I don't use `[]` in the input name, the skipper handle it for me and in the `uploadedImages` I get an array of images.

[2015-03-04 07:49] vinhtq commented on #67
Thank you for you response!
But you cannot force people to do that because it works on php if you use ```[]``` in the input!
My problem is the same, i use dropzonejs. Dropzonejs automatically add ```[]``` to the input name
when i upload multiple files!

I think skipper should fix this bug!

[2015-03-08 14:54] jessearmand commented on #49
@mikermcneil I still see the same issue on skipper@0.5.5 . I'm running the sails (at 0.10.5) app behind nginx. But, if I run it locally, and do a local upload it's fine.

I have also set the `res.setTimeout(0)`. It always happens regardless of what file size is uploaded. I've tried both `skipper-disk` and `skipper-s3`

The crash itself can be prevented by intercepting the error through node's doma

[2015-03-08 15:03] jessearmand commented on #10
I have a log from skipper 0.5.5, the issue maybe related to this, but it's more related to #49

    Sun, 08 Mar 2015 14:06:44 GMT skipper Set up "maxTimeToWaitForFirstFile" timer for 10000ms
    Acquiring new Upstream for field `avatar`
    Sun, 08 Mar 2015 14:06:44 GMT skipper passed control to app because first file was received
    Sun, 08 Mar 2015 14:06:44 GMT skipper waiting for any text para

[2015-03-09 09:38] jessearmand commented on #49
Another useful information. This problem only occurs if I set `NODE_ENV=production`.

It doesn't happen if `NODE_ENV=development`.

[2015-03-11 04:44] corbanb opened #71 "SSL vs. Non SSL"
I am working on a sails 0.11 app and just ran into an issue with multi-from data. When the form is posted via non-SSL everything works fine. When its posted via SSL the post data shows up missing.

I should also note that IF an image is not attached the same POST works great either way on SSL and non-SSL.

Anyone have thoughts on how this could even be possible?

node: 0.10.33
sails: 0.11.0
skippe

[2015-03-11 05:34] corbanb commented on #71
Doing further investigation now is showing req.body is empty when the image is attached to the multi-form post. No req.param's either.

[2015-03-11 09:34] martingg88 commented on #69
yes. this will exclude empty field value. any idea how to include empty field value as well when sending over to server.

[2015-03-11 09:37] martingg88 commented on #66
any update on this?

[2015-03-11 17:45] corbanb commented on #71
For demo purposes I created a demo app here:

https://github.com/corbanb/sails-demo-app/blob/master/api/controllers/FormController.js

http://sails-demo-app.herokuapp.com/form/index
- req.body & req.file('image') are parsed correctly

https://sails-demo-app.herokuapp.com/form/index
- req.body is empty
- req.file('image') is parsed correctly

Is this to be expected? Does skipper only work on non-SS

[2015-03-13 09:22] Winangel commented on #49
I confirm this issue, for the moment I am trying to use domain api to catch the error and prevent crashing. I Don't know where it comes from...

[2015-03-16 18:54] nitzo commented on #49
I am attempting to build a new adapter and while determining the correct way to respond to errors during upload I encountered the same issue.

After some debugging I discovered that skipper provides an error handler for these cases in prototype.writeFile.js. This handler is registered with the 'once' option meaning it will only be called once.

I think what happens is that the error is emitted twi

[2015-03-17 00:03] juanpasolano opened #72 "File unavailable on complete"
Every time I upload a file and the on-complete function is called I try to get the image but it is never available. Is like when the on-complete function is called the image has not been saved. If a require it after a little while it is available.

Does anyone else has this behaviour?

[2015-03-18 02:51] faller opened #73 "Can maxBytes use with S3 or GridFS?"
Is it only implement with skipper-disk ? thank you!

[2015-03-19 10:22] nitzo opened #74 "Aborted upload causes server crash"
I am attempting to build a new adapter and while determining the correct way to respond to errors during upload I encountered an issue that when an upload is aborted for some reason  the server crashes.

NOTE: This also happens with the built in skipper-disk adapter.

This can happen both by user (browser) abort or by adapter abort  (by emitting 'error' or by calling the done() callback in _writeF

[2015-03-21 21:45] ameilland commented on #36
Hi,

I still have the error.

I have sails js with skipper 0.5.5 and skipper-disk 0.5.4.

I  try to upload a csv of 45 MB.

The error is raised:

 var outs__ = fsx.createWriteStream(__newFile.fd, encoding);

            // When the file is done writing, call the callback
            outs__.on('finish', function successfullyWroteFile() {
                log('finished file: ' + __newFile.filename);

[2015-03-22 04:54] tibotiber commented on #33
Sorry I had forgotten about this. Solved it by passing the `_csrf` token in the form action url...

[2015-03-22 04:54] #33 closed

[2015-03-23 14:23] timediv opened #75 "Upload 2 big files"
Uploading two big files with req.file('a') and req.file('b') results in one timing out with

verbose: Error: ETIMEOUT: An Upstream (`b`) timed out waiting for file(s). No files were sent after waiting 500ms.

I suspect one of the files times out while the other one is being uploaded. If I need to reconfigure the 500ms, where do I need to put the config file and what should it look like?

I'm using

[2015-03-25 10:11] amberv0 commented on #23
Yep, still happens in 0.5.5.
But, in fact, when upload() is called, everything is ok. But when trying to do anything with req.file('<filaname>') error occurs. Or if to do something with req.file() first, and then call upload(), error also occurs. I believe this is the reason for the error in the gist above.
my sails is 0.11.0

Yet, what is weird in my case, the file should have been uploaded (sinc

[2015-03-25 10:36] amberv0 commented on #23
UPD
tried with  https://github.com/sails101/file-uploads
and also by copying controllers and views to a new sails project.
NO PROBLEM EVER.
It means that there seems to be some interference with some module or, hm, I don't know. Maybe policy. I'll try to find out.

[2015-03-25 10:50] amberv0 commented on #23
UPD
FOUND THE REASON:
In my form I didn't put
 enctype="multipart/form-data"
The problem is reproducible with https://github.com/sails101/file-uploads if to remove the enctype.

[2015-03-26 13:34] jurajpetrik opened #76 "Saving to Postgresql?"
Is there a way to save the uploaded file to a postgresql db as a blob?  Perhaps leveraging waterline somehow? Or would I need to write an adapter for that?

[2015-03-30 15:53] fabdrol opened #77 "Skipper doesn't parse alle elements in an array (143 out of 250)"
I'm POSTing batches (arrays) of 250 objects with location data to my API. For some reason, my controller only receives 143 elements, the rest seems to be lost in translation. When I check in web inspector, I can see that all 250 items really are sent by the client.

[2015-03-30 19:34] cburatto commented on #69
How about serializing the form and sending as JSON? Might not be what you need, but I'd slowly try to move towards a more pure JSON interaction, leaving form data behind. Treat everything as an API call...

[2015-03-30 20:25] ecfaria commented on #74
The same is happening to me.

[2015-03-30 23:35] martingg88 commented on #69
checked with this https://github.com/balderdashy/skipper/pull/61/commits.
They are trying to include empty value field.
But the file is not committed yet.

[2015-03-30 23:35] martingg88 commented on #69
checked with this https://github.com/balderdashy/skipper/pull/61/commits.
They are trying to include empty value field.
But the file is not committed yet.

[2015-03-31 11:09] devinivy commented on #74
I have a hunch that the stream needs to be ended there.
http://www.bennadel.com/blog/2692-you-have-to-explicitly-end-streams-after-pipes-break-in-node-js.htm

[2015-03-31 11:13] devinivy commented on #74
You can also run that stream in a domain, and let the domain catch your unhandled error: http://stackoverflow.com/questions/21771220/error-handling-with-node-js-streams

[2015-03-31 12:35] tjwebb commented on #74
@devinivy any thoughts on how we can drop on a quick fix?

[2015-03-31 13:27] devinivy commented on #74
A quick fix?  I expect this would do! (ref [here](https://github.com/balderdashy/skipper/blob/master/standalone/Upstream/prototype.writeFile.js#L31))

[code]

Basically, use `on` instead of `once` (because you don't want to unregister this event handler!) then keep track manually whether the callback has fired or not.

[2015-03-31 13:36] cburatto commented on #74
Should reopen this?
https://github.com/balderdashy/skipper/issues/49

[2015-03-31 19:11] nitzo commented on #74
I have submitted a merge request for the proposed solution.
I don't think ending the stream will help here since to the best of my understanding multiparty fires an error event no matter what.

Thanks @devinivy !

[2015-03-31 20:19] devinivy commented on #74
Sure thing!  I hope it works-out for now.  It seems like there's more to understand and clean-up here.

[2015-04-01 15:54] metzuda commented on #68
@corbanb @Nox-404

This is not an issue. From the docs :

Source: https://github.com/balderdashy/skipper#background

[2015-04-01 16:42] corbanb commented on #68
@metzuda that is all good and well but doesn't always seem to work. I dug deeper and found this - #71

[2015-04-01 17:15] corbanb commented on #71
@zolmeister @sgress454 - either of you seen this?

[2015-04-01 18:39] corbanb commented on #71
I am keeping notes here in hopes this can be cleared up. I spent more time today adding json reponses to the form submit here.

Add created a gist of the app's log output from skipper doing:

- [http+text+file](https://gist.github.com/corbanb/225d87c95f5eb6f5ecb3#file-http-text-file-log) - HTTP with both works great
- [https+text+file](https://gist.github.com/corbanb/225d87c95f5eb6f5ecb3#file-http

[2015-04-01 21:05] corbanb commented on #71
I have now tried to replace the bodyParser as the docs say in 3 ways with 0 luck.

the 3 options are commented out for now.
https://github.com/corbanb/sails-demo-app/blob/master/config/http.js#L72

[2015-04-03 05:14] paragshar opened #80 "Abort the file upload"
I am uploading a file along with a few other fields.
Field shared_with , type: text
Field media, type: file

req.file("media").upload(function(err, files){
});

Before I call the code above,  I check for validity of other fields in my Sails policies. Whenever validation fails, I will like to send back the response to the invoking party telling them about the validation error. I do it in exactly th

[2015-04-03 12:37] Alaneor commented on #10
I have a similar issue where only the first file is successfully stored on disk and the second file is written as empty.

I attempt to upload the files with `curl`:

`curl -i -F file=@./tmpfile.txt -F file=@./key.pem localhost:3300/up`

And here is skipper's detailed logs (seems like all is well):

[code]

I **do**, however, pipe the incoming streams into a second writable stream. My use case is t

[2015-04-03 15:51] jurajpetrik commented on #71
I have this same issue! When uploading a file and putting

                <form action="https://myapp.herokuapp.com/imageUpload" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="userId" value="32">
                    <input type="file" name="image">
                </form>

               req.param('userId');//undefined

I spent a lot of time trying to

[2015-04-03 17:49] sgress454 commented on #71
@corbanb @jurajpetrik Skipper is certainly intended to work with both encrypted and unencrypted connections.  I know these can be painful issues to debug, so thanks for keeping up with it.  One guess would be that for SSL connections, the text parameters are being re-ordered so that they appear at the end of the stream instead of the beginning.  Skipper only reads text parameters until it finds th

[2015-04-03 17:53] corbanb commented on #71
@sgress454 I spent hours looking at this and putting the params in both orders. It doesn't hold up either way sadly. I'm not sure its currently doable to POST mutliforms over SSL at all with skipper when files and text is present. If you pull the demo app I built and push to heroku or any app with SSL its easy to text the options. I have turned on DEBUG=skipper in my app.

If anyone wants full acc

[2015-04-12 20:37] corbanb commented on #71
Spent more time today working on some options here. I am now getting 'Unable to expose body parameter `location` in streaming upload!'. To me that says its stripping it due to a setting or how I am uploading files. Is this something I can change?

@sgress454 or @mikermcneil any ideas?

[2015-04-12 21:11] sgress454 commented on #71
Based on the full text of the warning, it really does appear that things are being re-ordered somehow.  Maybe it's part of the browser implementation of SSL.  Skipper is seeing a text param after it's already passed control back to userland code, which would only happen if the text param was seen *after* a file was already processed.  I would try capturing and logging the request at the bodyparser

[2015-04-13 00:59] corbanb commented on #71
@sgress454 you are right its something to do with browsers. I am getting everything fine in safari 8. but chrome 41 fails on the ordering. Not sure how to fix this now.

[2015-04-13 17:26] gunish opened #82 "File Upload does not store data in mongo-db"
There is an issue opened in the grid-fs repo but something seems to have changed,
The repository seems to have moved to a new owner (outside of balderdashy).

A blocker is open since 15th March with no response from the owner
https://github.com/willhuang85/skipper-gridfs/issues/14

Does anyone else know of this issue and can help with the resolution ?

[2015-04-14 09:08] gunish commented on #82
Was now able to reproduce it on a new setup. Local Machine Issue

[2015-04-14 09:08] #82 closed

[2015-04-14 12:58] priyank2005 commented on #65
I am also facing this error, can you suggest a way to avoid a server crash is form type is not multipart.

[2015-04-15 13:36] S0c5 commented on #60
Hi guys, i have this issue right now.

I want to upload an image, I send the file, this is uploaded But next, skipper send me the next error: and crash :/ my app.
[code]

the debug logs of skipper are:

[code]

[2015-04-15 14:22] stigmat4j opened #83 "Save callback"
Hello. Sorry for my english.
Whether there is a callback on save file?

[2015-04-16 02:34] juanpasolano commented on #56
I have the same issue I upload a file and I get back the `status: bufferingOrWriting`. And the I try to fetch the file I get a 404 or ENOENT. Which is weird since I would expect the callback to be fired when the file is done uploading and is ready to be served.
I don't know If I am invading @secrettriangle issue but I think my case is quite similar.

[2015-04-27 19:48] antocorso commented on #65
I have the same problem.
I check if an optional file was uploaded, if not I get an error even if I manage the upload (using upload callback).
This is a very serious problem!!!

[2015-04-28 16:29] begot opened #84 "contents of the file"
How could I get the contents of the file without having to upload it?

[2015-04-29 01:18] AlexanderKozhevin opened #85 "Sails V 0.11"
I'm trying to run the code from official website sails.org and having a trouble with skipper

Unable to parse HTTP body- error occurred :: 'Error: invalid json\n    at parse (/usr/local/lib/node_modules/sails/node_modules/skipper/node_modules/connect/node_modules/body-parser/lib/types/json.js:62:15)\n    at /usr/local/lib/node_modules/sails/node_modules/skipper/node_modules/connect/node_modules/bo

[2015-05-11 17:20] inklingsofreality commented on #54
Just a thought, but what would the intermediate stream look like if one is using gm().
This is what I have in trying to implement this:
[code]
I really wish there was an easier way to intercept the files before uploading them using an adapter. It seems that this is a necessary feature.

[2015-05-13 20:24] fundon opened #86 "Supports filter file type and abort upload"

[2015-05-19 03:05] drj-io commented on #85
Sounds like you got a little further than I did on .11.  I'm trying to use S3

    	req.file('project_file').upload({
			adapter: require('skipper-s3'),
			key: sails.config.aws.s3_key,
			secret: sails.config.aws.s3_secret,
			bucket: sails.config.aws.project_upload_bucket,
			maxBytes: 1000000000 // 1GB max upload
		}, function (err, uploadedFiles) {

resulted in

    events.js:143
      throw n

[2015-05-20 03:55] kball commented on #65
FYI @handonam and I just spent an hour tracking this down at a hack night... @antocorso check to make sure you're only calling req.file('blah') once, and calling upload on the object returned.  It turns out that at least in the empty case, every time you call req.file('blah') it returns a new object that needs to have upload set on it, so if you do something like
[code]

This results in creating t

[2015-05-20 03:59] handonam commented on #65
:+1: thanks @kball !

[2015-05-28 18:59] mefernandez opened #87 "Text parameter order in multipart/form-data"
I'm using Sails 0.11.0 with Skipper 0.5.5. I'm trying to POST a file upload, which looks like so:
[code]

Everything works fine in localhost, but the same code with the same call is failing in the staging server.

Env info:
- **localhost**:
  - Mac OSX 10.6
  - node v0.12.1
- **staging**:
  - Docker container, running the official node image
  - node v0.12.2

I'm guessing the problem is not in how

[2015-05-29 01:03] plato-cambrian commented on #56
+1, my use case is slightly different, I have a form using the default upload adapter to write the upload to `.tmp/background.img`. I am redirecting in the uploadedFiles callback. But I always see the LAST image. If I wait a moment and refresh, I see the new image.

Seems like this callback is fired in between saving to temporary file and moving it to the final location?

[2015-05-29 08:18] mefernandez commented on #87
I created a container running node 0.10.38 from [Docker Hub's official node image](https://github.com/joyent/docker-node/blob/428d5e69763aad1f2d8f17c883112850535e8290/0.10/Dockerfile), still the same result.

By the way, the connection to the server is **not** HTTPS (I've read some issues with HTTPS and field ordering).

[2015-06-01 08:23] mefernandez commented on #87
I've finally made it work. I was accessing the Sails app directly on port 1337. I then switched to serving it on port 80 via nginx, and it started to work fine. So , I guess the hosting provider (1&1 in this case) might be doing something funny on non-standard ports that messes up the multipart, but that's just a theory anyway.

**Moral**: If this is happening to you, try non-HTTPS, try standard p

[2015-06-01 08:23] #87 closed

[2015-06-01 20:21] igorteton commented on #85
Seems this is more specific to skipper-s3: https://github.com/balderdashy/skipper-s3/issues/22

There is also advice how to find out more detailed error by uncommenting few lines.

Let's close this one and continue there

[2015-06-01 21:10] plato-cambrian commented on #71
I'm also seeing an empty `req.body` with post request from Chrome 43. My form parses fine in firefox 38.

[2015-06-02 01:13] plato-cambrian opened #88 "Uncaught exception in Upstream upload function (with skipper-s3)"
Hi, we're discussing an uncaught exception in [skipper-s3 #22](https://github.com/balderdashy/skipper-s3/issues/22) that kills the node process. This happens when skipper-s3 tries and fails to upload to s3 due to a temporary redirect. I suspect skipper may be involved due to the line `at  ... skipper\standalone\Upstream\prototype.fatalIncomingError.js:65:17`
[code]

[2015-06-02 03:13] plato-cambrian commented on #71
@jurajpetrik thanks, i had success with your workaround of only posting file fields from the form, and sending the other data in the query string

[2015-06-02 04:12] corbanb commented on #71
@plato-cambrian @jurajpetrik I wish that worked for me. sadly it will not due to the sensitive nature of our data on the post. We actually have moved from sails for the time being on the app and having success with the multiparty module combined with knox.

[2015-06-02 17:17] plato-cambrian opened #89 "How to detect missing or empty file field and abort, avoiding Upstream timout exception?"
When I receive a post to `/api/files.upload`, I need to
1) verify there is a file that was posted under the name `file` or send 400 response
2) proceed to detect MIME type from magic bytes, send 400 response if non-image
3) upload to s3 with skipper-s3

It's unclear to me how to handle step 1. I've pasted my attempt below. The 1 second timeout helps avoid a race condition where Skipper tries to pr

[2015-06-02 17:33] plato-cambrian commented on #35
I'm doing something similar in #89, be warned (at least in my code) calling `req.file('file')` appears to crash the server if the `file` form value is empty/missing

[2015-06-03 09:05] svenvarkel opened #90 "Certain file types not accepted for uploads"
I'm trying to get file uploads working with SailsJS/Skipper. The files I want to use are BDOC containers (that's a standard for containers for digital signatures).
When I try to upload a BDOC file to my SailsJS app I get the error:

        _multipartyError: [Error: unrecognized content-type: application/bdoc]

How to make this content type "recognized" by SailsJS/Skipper?

[2015-06-03 18:48] elwadi opened #91 "resize before upload"
hi, how to resize pictures before upload using gm ?

[2015-06-03 21:12] tjwebb commented on #91
You'd need to do that after upload, and before the file is persisted into the database. You can implement your gm logic in a sails controller.

[2015-06-03 22:18] elwadi commented on #91
can you give me an example ?

[2015-06-03 22:41] tjwebb commented on #91
I don't know how to give you an example without writing your code for you. Can you be more specific about what you're having problems with? Make sure you've read and understand the docs on sails controllers and services.

[2015-06-03 23:08] elwadi commented on #91
where i should add gm functions ?
[code]

[2015-06-05 07:32] lentiummmx commented on #23
It happens again, for me....

Error: EMAXBUFFER: An Upstream (`NOOP_kuponFile`) timed out before it was plugged into a receiver. It was still unused after waiting 4500ms. You can configure this timeout by changing the `maxTimeToBuffer` option.
    at null.<anonymous> (/home/phoenix/Repositories/git/miskupones/node_modules/sails/node_modules/skipper/standalone/Upstream/Upstream.js:86:15)
    at Tim

[2015-06-19 12:35] plato-cambrian commented on #91
Hi, I'm streaming my uploads directly to s3 using skipper-s3, but now I want to make thumbnails. is there a way to stream the upload into `gm` first and then to the skipper receiver?

gm's streaming docs: https://github.com/aheckmann/gm#streams

[2015-06-22 14:35] radkodinev commented on #66
@martingg88 This is fixed in https://github.com/balderdashy/skipper/pull/61 which is already merged. However, no new version of skipper has been released yet.

[2015-06-22 14:46] martingg88 commented on #66
cools. hope it can merge with sails library too soon. thanks.

[2015-06-23 00:09] albertkim commented on #71
I experience this issue with Heroku. I am uploading an image from an IOS client via AFNetworking, and req.body shows up empty.

[2015-06-25 03:59] #85 closed

[2015-06-25 04:00] tjwebb commented on #76
Yea, the skipper README describes the skipper adapter spec. You can call if `skipper-postgresql` !

[2015-06-25 04:02] tjwebb commented on #71
How does this fix the issue, exactly?

[2015-06-25 04:02] #62 closed

[2015-06-25 04:03] tjwebb commented on #66
@sgress454 @mikermcneil can we publish to npm?

[2015-06-25 04:04] #86 closed

[2015-06-25 07:23] fundon commented on #86
@tjwebb Can you explain that why closing this?

[2015-06-25 14:45] sgress454 commented on #66
Done!

[2015-06-25 14:51] sgress454 commented on #71
The issue is that text params that should be in `req.body` are getting stripped because they're being re-ordered in the request, and skipper doesn't look at text params that come *after* file parts.  By putting your text params in the URL, they bypass `req.body` entirely, and they should still show up in `req.params`.

[2015-06-25 14:57] sgress454 commented on #66
Ok, spoke too soon, I don't have perms on this one.  @mikermcneil, it's up to you.

[2015-06-25 22:00] JonGarbayo opened #92 "Check if file input were empty before starting upload"
Hi,

I'm using Sails 11.1 and skipper 2.11.2.
I have a form to create an article in my app. An image can be attached to an article, so there is an input file.

I would like to check, server-side, if this input file was empty, before trying to start upload.

Is it possible, and if yes, how can I do this?

I tried to check `req.files`, or `req.files.photo` ("photo" is the input name) and `req.body.p

[2015-06-27 10:01] JonGarbayo commented on #92
For those who have the same issue, check the answer [here](http://stackoverflow.com/questions/31061719/sails-js-with-skipper-check-if-file-input-were-empty-before-starting-upload).

There is now way to do differently for the moment.

[2015-06-29 16:22] washimimizuku opened #93 "Add sub-directories to upload folder"
When you have a massive amount of uploads, having all images on the same folder slows down the machine, it's a common problem. Solving this is simple. Instead of inserting it on one folder:

e.g. uploads/24d5f444-38b4-4dc3-b9c3-74cb7fbbc932.jpg

We can use sub-directories based on the file name:

e.g. uploads/24/d5/24d5f444-38b4-4dc3-b9c3-74cb7fbbc932.jpg

Although we can do that with Skipper by c

[2015-06-29 17:23] JonGarbayo commented on #80
Same issue for me :(
If i do a `res.something()` (like `badRequest()`, or even a personal status followed by some JSON data `status(409).json({ error: 'user already exists' })`), without invoking the `req.file('file').upload()` method, the result never arrives to the client. The spinner is turning again and again...

A little difference for me: with a file in the input or not, but while there is t

[2015-07-02 20:53] tjwebb opened #94 "explicitly setting adapter: require('sails-disk') breaks"
[code]

[2015-07-02 20:55] tjwebb commented on #71
Can anyone offer some insight on a generic solution to this? It sounds like a fragile situation that I think we'd like to harden a bit.

[2015-07-02 20:57] tjwebb commented on #73
@faller did you ever get clarity on this?

[2015-07-03 05:13] faller commented on #73
@tjwebb I turned to use protocal of Tus.io and implement myself

[2015-07-03 09:21] russellsantos commented on #71
From what I understand, this is a consequence of two things:

1) Skipper assumes that post parameters are given in the request stream
before the file data. This is done by skipper so that it can actually
process the files as you are receiving the response, rather than copying it
first to disk like the other file upload middleware.
2)  Chrome does not ensure that the post parameters sent in the req

[2015-07-08 01:19] bozzltron commented on #93
I agree.  I would like to specify the folder I want to upload to.

[2015-07-13 20:56] servel333 opened #96 "Where did the wiki documentation go?"
https://github.com/balderdashy/skipper-s3#usage links to https://github.com/balderdashy/skipper#uploading-files-to-s3 but the Wiki appears to have been disabled. Did the documentation move to somewhere else?

[2015-07-14 06:25] imkven opened #97 "How to only allow single file upload?"
I want to limit file upload, but I can't find any options for it. I have try below code:

[code]
to detect how many files upload.

[2015-07-17 10:03] metzuda commented on #80
@paragshar  Why do you need to use policies to check field validity? I'm just curious.

@JonGarbayo uploading a file is NOT the firs thing you have to do in a controller action, unless you need that file to be uploaded before you can do anything else within that action.

Here's what I do, works fine.

1. grab URL params (e.g. ``` var id = req.param('id'); ```
2. grab req.body for the non-file form

[2015-07-17 10:12] metzuda commented on #77
Can you give us any more information?

I'm posting a form with ~400 data points all in nested array form (e.g. ```name="formData[heading][subheading][title][data]"```) and it all comes out in good shape.

if you are using enctype 'multipart/form-data' skipper doesn't seem to parse arrays, but only prepares simple JSON objects (e.g. ```{"formData[heading][subheading][title][data]" : "hello"}```; yo

[2015-07-17 10:22] metzuda commented on #63
@ptariche Did you get this figured out?

[2015-07-23 11:20] devyn commented on #74
I'm getting this same error with skipper-s3 if the browser request is aborted while sending the file to S3.

[2015-07-26 00:01] pjnovas commented on #56
+1 I'm having same exact issue, I expect the callback of upload() to be on completition, but I'm seeing it is not finished when the callback fires.

Is there a way to know when it's done?
Thanks!

[2015-07-29 08:09] kamote commented on #56
@pjnovas same issue here.. the only solution i have is to delay the response.to make sure the file is already written

[2015-08-04 14:45] Tumetsu commented on #80
I'm having similar problem as @paragshar At the moment I can handle invalid request only after upload has completed. Before that returning from controller function does nothing and client will never get response. @JonGarbayo 's solution reminds my own where I rollback from invalid request by deleting uploaded file.

However, the same problem arises if I have middleware which checks if the user is

[2015-08-06 23:17] mattlo commented on #88
@plato-cambrian Ran into this issue as well. To catch theses errors, there's a few ways you can do it:
- Fork a cluster and invoke the process within
- Use experimental `domain` to isolate the error
- `process.on('uncaughtException')` <- not really an option

I used `domain`, its straight forward implementing and seemed to be a leading solution for future error handling around foreign dependencies

[2015-08-12 18:24] Alaneor commented on #49
For those looking for a permanent solution to avoiding aborted file uploads crashing your server, wrap the upload code in a `domain` and attach a handler to the *error* event:

[code]

[2015-08-18 16:08] metzuda commented on #74
I'm still having issue after trying @nitzo fix from pull request #78, but only if I am not using Chrome.

[2015-08-20 10:51] jetsonjohn commented on #71
I have the same issue for inputs declared after file input type. The text input type values is empty in the request

[2015-08-20 14:04] jetsonjohn commented on #71
Is there any work around for this. I got several file type input in a form and it not in a particular order. It will be nice if we have a solution for this issue without the help of jQuery upload.

[2015-08-22 15:58] kyawmyintthein opened #99 "How to upload data:image to S3?"
How to upload data:image to s3?
xhr({
uri: '/avatar/upload',
method: 'post',
body:'data:image/jpeg;base64,rLksSOAEBIaGhsiFBEiABEjgJAj09/efxKv5Uh....'
}

[2015-08-27 22:38] taylorjames opened #101 "error: express deprecated req.auth: use basic auth instead"
When I installed skipper on my sails app I get this error and a blank page when trying to access any page in my app.

here is what my package.json file looks like. I am using sails purely as a backend api so the front end has been stripped out.

[code]

it seems to me that Skipper uses https://github.com/senchalabs/connect which uses basic-auth-connect which is deprecated.

has anyone else run int

[2015-08-28 03:06] kyawmyintthein commented on #99
I can upload the image file with FormData.

[2015-08-28 03:06] #99 closed

[2015-08-28 03:07] kyawmyintthein commented on #99
var blob = dataURItoBlob($image.cropper('getCroppedCanvas').toDataURL());
       var fd = new FormData($("#image"))
       fd.append("image", blob)

        $.ajax({
           url: "/cover/upload",
           type: "POST",
           data: fd,
           processData: false,
           contentType: false,
           success: function(response) {
            console.log(response); // Optional

[2015-08-31 05:29] tjwebb commented on #76
https://github.com/waterlinejs/skipper-postgresql

[2015-08-31 05:29] #76 closed

[2015-09-01 10:15] metzuda commented on #97
Single file : `<input type="file" name="img">`
Multiple files : `<input type="file" name="img" multiple>`

[2015-09-01 12:10] metzuda commented on #75
If I understand you correctly, you're attempting to upload to large files on the same request, and trying to upload them at the same time.

Is it possible to upload them one after the other in series? Uploading them in series should take roughly the same amount of time, I would think.

[2015-09-01 12:15] metzuda commented on #72
I run into this if I pass incorrect parameters when uploading to S3; but that's my problem.

[2015-09-02 01:17] imkven commented on #97
Thanks, @metzuda

But it not working too. User still can POST multiple files to server. I guess the only way to fix this is checking how many files are passing to server.

[2015-09-09 19:53] GeoffreyPlitt opened #103 "Publish to NPM"
0.5.6 is not published to NPM

[2015-09-11 10:07] twhtanghk commented on #49
It seems that the abort upload is caused by Nginx ending the socket to nodejs server. Refer to the page about [optimizing nginx](https://engineering.gosquared.com/optimising-nginx-node-js-and-networking-for-heavy-workloads), [keepalive options] (http://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive) can temporarily fix the problem.
[code]

Another issue is to handle the abort uploa

[2015-09-18 21:30] mikermcneil commented on #103
@GeoffreyPlitt thanks for the heads up- on it

[2015-09-18 21:30] #103 closed

[2015-09-18 21:45] GeoffreyPlitt commented on #103
+1

[2015-09-18 22:07] mikermcneil commented on #103
ok published 0.5.7

[2015-09-21 16:56] GeoffreyPlitt commented on #103
npm ERR! notarget No compatible version found: skipper-s3@'>=0.5.7 <0.6.0'
npm ERR! notarget Valid install targets:
npm ERR! notarget ["0.0.1","0.0.2","0.0.3","0.0.4","0.0.5","0.0.6","0.5.0","0.5.1","0.5.2","0.5.3","0.5.4","0.5.5"]
npm ERR! notarget
npm ERR! notarget This is most likely not a problem with npm itself.
npm ERR! notarget In most cases you or one of your dependencies are requesting
np

[2015-09-22 04:06] #39 closed

[2015-09-22 04:11] #44 closed

[2015-09-22 04:12] #19 closed

[2015-09-22 04:16] #43 closed

[2015-09-22 04:16] #46 closed

[2015-09-22 04:16] #53 closed

[2015-09-22 04:29] #41 closed

[2015-09-22 04:29] #45 closed

[2015-09-22 04:29] #51 closed

[2015-09-22 04:35] #64 closed

[2015-09-22 04:40] #42 closed

[2015-09-22 04:40] #50 closed

[2015-09-22 04:51] #68 closed

[2015-09-22 04:51] #69 closed

[2015-09-22 05:40] #10 closed

[2015-09-22 05:40] #83 closed

[2015-09-22 05:40] #84 closed

[2015-09-22 05:43] #54 closed

[2015-09-22 05:43] #65 closed

[2015-09-22 05:43] #89 closed

[2015-09-22 06:40] #35 closed

[2015-09-22 06:40] #90 closed

[2015-09-22 06:40] #91 closed

[2015-09-22 07:11] #66 closed

[2015-09-22 07:11] #92 closed

[2015-09-22 07:11] #94 closed

[2015-09-22 07:34] #73 closed

[2015-09-22 07:34] #93 closed

[2015-09-22 07:34] #96 closed

[2015-09-22 07:40] #63 closed

[2015-09-22 07:40] #77 closed

[2015-09-22 12:50] servel333 commented on #96
This issue is not resolved. The wiki is still gone and the documentation there is not accessible.

[2015-09-23 03:16] #56 closed

[2015-09-23 03:16] #80 closed

[2015-09-23 03:16] #88 closed

[2015-09-23 03:18] #74 closed

[2015-09-23 17:15] GeoffreyPlitt commented on #103
Did this get published? NPM can't find 0.5.7 for me.

[2015-09-23 17:19] corbanb commented on #71
@sailsbot what? Its been closed cause no one was active on it? I think this means someone needs to fix it. Not close it. :frowning:

[2015-09-25 14:35] Bartjezzz commented on #71
Yup. I'm calling in as well. Same issue here!
- Sails@0.10.5
- Skipper@0.5.7

1. Form data includes 4 params + jpeg.
2. Posts via iOS AFNetworking 2.0 / NSURLConnection tested

Both work on local machine in http, but switching to SSL on Heroku shows:
[code]

Funny enough. Restarting the sails instance sometimes resolves this issue. Any Sails peeps working on this?

[2015-09-25 16:35] sgress454 commented on #71
@Bartjezzz I imagine it works sometimes because the field order in the request is non-deterministic; sometimes they come in first, sometimes they don't?

@russellsantos You are correct in that a "buffering-to-disk" option would solve this, but it wouldn't just negate a pretty cool feature of Skipper--it would negate pretty much the reason Skipper was created, which was to avoid the glaring issue i

[2015-09-27 05:46] #101 closed

[2015-09-27 17:24] smith64fx opened #105 "skipper make my REST-API timeout"
When I activate skipper, I cannot connect to the backend anymore. It's just a timeout. The only message I get is:

[code]

I activated it in the config/http.js file.

[code]

I'm using SailsJS 0.12.0.-RC3 and Authentification via WebToken, Connection mostly via Sockets.
Any Idea?

[2015-09-28 05:41] tjwebb commented on #105
What does "activate" mean? Skipper is installed and in use by default. Can you describe specifically what docs you're following and what you're trying to do?

[2015-09-28 13:11] Bartjezzz commented on #71
So we've completely redone the code. It's hideous but should work.

1. Do a clean POST with all the params
2. Create second POST with only the jpeg as image/jpeg and add 1 or 2 queryParams (not in actual body).

In HTTP it is working. In HTTPS  it loses the actual image data. No idea what's going on. Whats the bare minimum to making this work? No query params at all?

''''
req.file('screenshot').u

[2015-09-28 14:02] Bartjezzz commented on #71
Update on our end. We completely removed Skipper from parsing anything related to attachments for now.

in HTTP.js we overwrite bodyparsing

[code]

and in code we're using multiparty to solve the issue
[code]

[2015-09-29 03:04] smith64fx commented on #105
Hi I fixed the problem.
If you uncomment the "bodyParser: require('skipper')" line in config/http.js the app won't work anymore. Deprecated?

[2015-09-29 03:04] #105 closed

[2015-10-02 06:25] #72 closed

[2015-10-02 06:25] #75 closed

[2015-10-02 06:26] timediv commented on #75
Guten Tag,

leider sind wir bis zum 8.10 im Urlaub. Wir melden uns bei Ihnen zurück!

Vielen Dank!

mit freundlichen Grüßen

Louis Kirsch

[2015-10-03 05:52] #97 closed

[2015-10-04 01:03] suyash515 commented on #71
@Bartjezzz Correct me if I'm wrong but if we replace the bodyparser in http.js, then this is used only once when the application is lifted and as such all of these conditions are executed only once and not per route.

[2015-10-07 07:32] Bartjezzz commented on #71
@suyash515 Not sure if that is correct. We created a body parser middleware and placed in the http tick. so it should run every request

[2015-10-07 11:14] suyash515 commented on #71
@Bartjezzz You are absolutely right! It does work as you mentioned. The first time I tested it was not working - maybe did something wrong. Thanks a lot for this solution.

[2015-10-11 13:47] Rafkraft opened #106 "EMAXBUFFER: handle upload canceling / content-type checks"
Hi

I'm experiencing an issue which has been largely discussed on multiple platforms, but I didn't find any clear answer. I'm uploading a simple image file thru a basic form. In my controller, I pre-test multiple attributes of that file (content-type, unicity, presence). When these tests are passed, the file is uploaded on the server without problems, but when it fails, the file remains in the buf

[2015-10-13 01:28] Clan-Utility commented on #73
For my test, maxBytes does not work for GridFS

[2015-10-13 06:37] kamote opened #107 "Error uploading from iOS"
skipper version 0.5.5
upload is working from web not working from mobile app.
error
[code]
ios
[code]

[2015-10-14 08:42] ArVan commented on #23
Happens to me also. Skipper version:  "0.5.5".

[code]

[2015-10-15 12:34] FranciZ opened #108 "Working on local network but when running on remote I get this error 'EMAXBUFFER: An Upstream (`file`) for anything but the tinies files"
It all works perfectly fine when I upload the file with the server running locally but as soon as I put it on a remote server I get the following error 'EMAXBUFFER: An Upstream (`file`) . The only files that successfully upload are 350 bytes or less. I've tried it both with proxy(nginx) and no proxy (IP:PORT) in front of the app with no success.

I'm using Express 4 for the server.

After the EMAX

[2015-10-20 11:00] vbogdanov opened #109 "Invalid calculation of file size when uploading multiple files under the same stream/name"
HTML:

[code]

Express Route:

[code]

Uploading 3 files, sizes 5844, 197, 710494 bytes, expected sizes in files - 5844, 197, 710494
actual:

[code]

After a short look at the code my best guess is that the remaining length of the stream is used as file size. This is correct for single files but fails for multiple files as the size of the first equals the size of all files plus the size of the met

[2015-10-22 10:41] korabbaslu opened #110 "File extension check problem with skipper"
Hi,
I couldn't find any option to check file extension.

[2015-10-23 08:53] megakoresh commented on #74
Having this with the azure adapter. This is a very serious issue, is anyone still looking into this?

[2015-10-23 09:16] Uminily commented on #74
Same issue with S3 Adapter.

[2015-10-24 14:07] RWOverdijk commented on #36
Bump. How to fix this?

[2015-10-25 02:53] tjwebb commented on #110
Is this a bug report or a feature request? Are you just complaining?

You can write your own controller action to check the extension of the filename. If you'd like to add this feature to skipper, a PR is welcome.

[2015-10-25 02:53] #110 closed

[2015-10-26 12:15] ArsalanDotMe opened #111 "Document callback parameters"
Please document what the `error` and `uploadedFiles` parameters look like in the callback.

[2015-11-02 19:16] Emiyashirou commented on #74
Still have this issue with skipper-s3 adapter.

[2015-11-07 18:49] sumit10 opened #112 "Error on uploading base64 image"
Hi I am getting error on uploading base64 image
[code]

[2015-11-11 05:17] #106 closed

[2015-11-12 13:43] naveedcs opened #113 "An Upstream timed out before it was plugged into a receiver"
I am using skipper and skipper-azure to upload multiple files at a time, if I upload small number of files lets say 20 to 30 at a time every thing works fine but if I upload more files like 200 or 300 I start receiving the following error for some of the files i.e only for two or three files not all files.

An Upstream timed out before it was plugged into a receiver

My Solution:
In sails>node_mod

[2015-11-13 05:12] #107 closed

[2015-11-13 21:57] maevik commented on #101
Ran into the same issue. Having trouble resolving. Did you ever get this fixed?

[2015-11-15 05:11] #108 closed

[2015-11-20 03:31] Ryanc1256 commented on #112
I got this too, but it wasn't a  base64 image... it was a image...

[2015-11-22 09:57] elennaro opened #115 "newFile.fd is undefined on custom upload"
[code]

causes error:

[code]

[2015-11-23 19:54] nikolovp opened #116 "Uploading multiple large files"
Hi, I have some troubles uploading multiple large files.

Skipper passes the control to the client code when one of these cases appears: the whole form is parsed; as soon as at least one file is received; timeout (50ms).

What if I want to upload multiple large files (>100KB)? Skipper will receive the first one and pass the control to my code. But the form parser isn't finished yet, req._fileparse

[2015-11-25 05:22] #36 closed

[2015-11-25 16:43] wfpaisa commented on #23
Hi, I created a test error:
https://github.com/wfpaisa/SailsJS-EMAXBUFFER

[2015-11-26 05:16] #111 closed

[2015-12-02 18:18] schematical commented on #23
Just started experiencing this today:

  Uncaught Error: EMAXBUFFER: An Upstream (`NOOP_file`) timed out before it was plugged into a receiver. It was still unused after waiting 4500ms. You can configure this timeout by changing the `maxTimeToBuffer` option.

[2015-12-04 07:23] mrcarl79 commented on #67
This is a problem for me also as ng-file-upload passes the files as an array like this, but it gets ignored in skipper/sailsjs. Any thoughts?

------WebKitFormBoundaryWCbq6JPGGudQoBmR
Content-Disposition: form-data; name="file[0]"; filename="full_13246-w1000h0.jpg"
Content-Type: image/jpeg

------WebKitFormBoundaryWCbq6JPGGudQoBmR
Content-Disposition: form-data; name="file[1]"; filename="full_1328

[2015-12-04 07:33] mrcarl79 commented on #67
Just done a typical spend hours trying to fix something then 5 minutes after posting about it I fix it lol

If anyone has my same issue put an arrayKey: '' property in the ng-file-upload config like this:

Upload.upload({
                        url: 'http://localhost/upload',
                        arrayKey: '',
                        data: {
                            file: files

[2015-12-04 09:06] gdraganic opened #117 "Re-POST request to another service"
Is it possible to attach a file upload to another application to avoid buffering data (disk, S3, memory)? The idea is just to stream the data to another backend service if certain conditions are met. Simple piping the request does not work because of the body parser and I can not disable it because I need to validate some body params before I can resend the request. Any help would be highly apprec

[2015-12-04 11:52] Alaneor opened #118 "Uploading program-generated files"
Is it somehow possible to use Skipper to upload files which I generate inside the application?

All of the existing examples rely on the presence of `req.file()` method, but this only works for user-initiated file uploads. I need to be able to generate i.e. a pdf report and save it to the file storage.

My current workaround looks something like this:

[code]

The approach above works in regard of

[2015-12-07 22:09] jackwanders opened #119 "Streaming incoming file to an outgoing request"
I am working with `skipper@0.5.8` via `sails@0.11.3` to manage file uploads. My specific use case calls for taking incoming file uploads and sending them to a third party for storage via a `POST` request.

My initial attempt at writing an adapter involved the following logic (abbreviated code sample, don't mind typos or syntax issues):

[code]

My justification here is that `__newFile` is a readab

[2015-12-08 03:15] jackwanders commented on #119
After some further debugging in both `skipper` and `request`, I think I've found the root cause behind my issue.

`request` has a helper function for determining if a formData field value is a stream or not.

https://github.com/request/request/blob/v2.67.0/lib/helpers.js#L41

It assumes any stream has `.path` and `.mode` properties. While these are both properties of streams created by `fs.createR

[2015-12-08 03:40] jackwanders commented on #119
I've opened an issue concerning the types of streams supported by `request`:

https://github.com/request/request/issues/1949

[2015-12-08 14:36] Alaneor commented on #118
I figured it out! It required a bit of reverse-engineering, but it works. :)

This requires `skipper` to be installed alongside your project:

`npm install --save skipper`

And here is the function that converts an incoming raw stream into an object that you would normally get when you call `req.file()` during an http upload request.

[code]

[2015-12-08 14:36] #118 closed

[2015-12-09 11:42] 1upon0 commented on #80
No updates on this?

[2015-12-09 20:08] mattcodez commented on #49
@Alaneor Thanks for the domain idea, solved my crashes. Given that domains are deprecated in Nodejs, is there a more direct way to attach an event handler? Ideally without modifying third party code.

[2015-12-09 20:12] Alaneor commented on #49
@mattcodez I think a more direct way to handle this would be to fix the issue in Skipper itself - these errors should be returned in the callback.

PS. Domains are deprecated, but they will not be completely obsoleted until a viable replacement technology has been added to Node. So for the time being, I would consider it okay to use them in situations like these.

[2015-12-10 01:29] ebbnormal opened #121 "Errror: EMAXBUFFER when trying to upload via sails-skippers3"
So I have a bunch of form data that I am submitting with a post request. Some of the fields are files, So created a service which, given a file, pushes it to S3. I call this service in my controller.

Here is my Service:

    var UploadFileToS3 = {
	uploadS3: function uploadService(file, filename, key, bucket, secret, cb){
        	    file.upload({
				adapter: require('skipper-s3'),
		   	key: k

[2015-12-10 01:32] ebbnormal commented on #121
Alternatively, if there is a way I can upload each file to S3 in the controller without going to the Service, and that doesn't break it, I suppose that is fine, although that would make my controller undesirably overweight.

[2015-12-10 23:18] ebbnormal commented on #106
@Rafkraft  did you ever figure out this error? I am running into the same issue!

[2015-12-11 01:48] jsloyer opened #122 "Add support for Openstack Swift"
I would like to add support for Openstack Swift, I have created an adapter, [skipper-openstack](https://github.com/IBM-Bluemix/skipper-openstack) and would like to update the readme to get it included.

[2015-12-12 00:53] treyrich commented on #48
@mikermcneil sorry to take so long to circle back to this, I ended up just making my own custom skipper with a longer `maxWaitTimeBeforePassingControlToApp` to work around this last year so it hasn't been an issue again until now.

We're facing the exact same problem as before where the `maxWaitTimeBeforePassingControlToApp` is expiring before the first textparam arrives. On the client side we're

[2015-12-13 06:04] #113 closed

[2015-12-13 13:37] khalilifar commented on #49
Having the same issue here with skipper 5.5 if file size is bigger than maxBytes the file is created and stays open so when i try to upload another file and overwrite the old one server crashes .
Any way to close the stream so the broken file can be deleted/overwritten ?

[2015-12-16 05:55] nidhi95 opened #124 "How to set Object name with "Bucket" ?"
I would like to store data in "bucket_name/folder_name/file"

[2015-12-19 22:22] xabarass opened #125 "Mechanism to cleanup uploaded files when error occurs"
Hi, lets say i want to add limit on upload file size. Skipper provides option `maxBytes` for that and it throws an error when defined size is exceeded, just as expected.
Consider an use case when uploading several files, but file limit is exceeded on i.e. second file, first file is completely saved on disk and error is thrown. Error object doesn't provide any information about already saved files

[2015-12-21 06:00] #112 closed

[2015-12-21 20:47] Rafkraft commented on #106
nope :( pm me if you find somethig

[2015-12-22 00:43] ebbnormal commented on #106
@Rafkraft What was happening, in my case, was that I didn't set the `<form>` `enctype` content type to ` `multipart/form-data`. So the POST request dropped my files, and thus I got the Buffer error, as no data was sent for Sails to parse, in terms of `req.files`.

[2015-12-23 06:12] #115 closed

[2015-12-23 10:24] boshido commented on #74
Please fix this soon
It still have this issue with skipper-s3 adapter.

[2015-12-23 10:27] metzuda commented on #74
+!

[2015-12-24 04:09] calidion opened #126 "incompatible with express 4.x"
Error: `req.file()` cannot be used with an HTTP GET, OPTIONS, or HEAD request.

[2015-12-24 06:17] #116 closed

[2015-12-25 02:20] #126 closed

[2015-12-25 10:45] calidion opened #127 "security problem with nsp?"
https://nodesecurity.io/advisories/46

skipper > connect > debug > ms

skipper > connect > serve-static

skipper > connect > serve-static > send

 skipper > connect > serve-index

[2015-12-31 14:45] nikolovp commented on #116
up

[2016-01-04 06:04] #117 closed

[2016-01-05 10:07] MuslimMunir opened #128 "EMAXBUFFER:"
My requirement is to validate file type before uploading a file
when i run this
req.file('avatar') to check if file exists
this return this error and server crash is there any way to verify file presence in request ?

Error: EMAXBUFFER: An Upstream (`NOOP_avatar`) timed out before it was plugged into a receiver. It was still unused after waiting 4500ms. You can configure this timeout by changing t

[2016-01-06 10:05] gavinlee2014 opened #129 "XML body consumed by skipper"
If the http body is XML format,skipper will not handle it but still consume it.so if skipper won't deal with the XML body,please pass them through so that other middleware can handle it

[2016-01-06 12:45] boshido commented on #128
+1
I got the same problem

[2016-01-08 23:00] #119 closed

[2016-01-10 23:00] #121 closed

[2016-01-11 05:00] vikeen commented on #124
:+1:  for this issue. I am currently having a problem with trying to upload to a folder under a S3 bucket.

[2016-01-11 07:30] hemedani opened #130 "how can retrieve multi-file from skipper-gridfs"
for getting 1 file from gridfs we should do this in sails.js:
[code]
think we have the model named file and save some property like file name and type, how can handle getting all(or multi) file(in fact image) from database ?

[code]
with the above code we throw into this error:
[code]

[2016-01-11 23:00] #122 closed

[2016-01-13 14:40] Winangel commented on #124
Hi,

you can use the saveAs option:
[code]

[2016-01-13 14:46] Winangel opened #131 "Can't set skipper maxTimeToBuffer and maxTimeToWaitForFirstFile options"
Hi,

I try to change  maxTimeToBuffer and maxTimeToWaitForFirstFile but it doesn't seem to work...

To do so I changed my config/http.js file:

[code]

but I still get these kind of errors:

[code]

What really bother me is not the error itself but the fact that it is still triggered after que 10000ms timeout when I changed this value to 30000ms ...

I had a look at #120. Is this a real bug ? if y

[2016-01-13 14:57] vikeen commented on #124
Ok, wow. I'm not sure how I missed that. I ended up actually neededing `dirname`. I wanted to place some audio files under an audio folder.

thank you

[2016-01-13 14:58] vikeen commented on #124
@nidhi95, I believe this ticket can be closed with a link to the the documentation

https://github.com/balderdashy/skipper/blob/3eb0ec227aadd27c1ea9dd25f9b6213c577e83be/README.md#options

[2016-01-13 16:50] vikeen commented on #124
Although `saveAs` works. I'm not sure how to leverage it the way I need?

[code]

Here are my problems.

1. I need to know the file name and extension if I'm going to build the `uuid` for the fil name myself.
2. I tried to use the `dirName` property, but it didn't seem to work.
3. Determining the file name would also let me determine the type of file encoding being upload; something I can leverage

[2016-01-14 11:15] Winangel commented on #131
Please consider #132 to resolve this issue.

[2016-01-15 13:30] toovy commented on #91
@mikermcneil as main contributor maybe you could give some clues about how one could resize using e.g. graphicsmagick or imagesmagick. I've tried to pipe the upstream from req.file('image') into a graphicsmagic or imagesmagick pipe (via transform stream), but after that important upstream metadata seems to be missing (e.g. the fd property), so piping to the receiver of skipper-disk or skipper-s3 f

[2016-01-18 14:31] MuslimMunir commented on #73
for me maxBytes is not working for skipper s3 its crashing server

[2016-01-20 20:02] irlnathan commented on #130
Hey @hemedani, would you mind [adding information](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#ii-issue-contributions) about your Sails, Node, and NPM versions to this issue?  Thanks!

[2016-01-20 22:05] mikermcneil commented on #127
Hey @calidion, this should be [resolved](https://snyk.io/test/npm/skipper) in the latest version.  For future reference, please have a look at our [Security Policy](http://sailsjs.org/security-policy) for disclosing suspected security vulnerabilities in Sails.  Thanks!

[2016-01-20 22:07] mikermcneil commented on #128
@MuslimMunir @boshido Hey guys, would you please set up a repo which reproduces the issue?  [Here's an example repo](https://github.com/sails101/file-uploads) you can fork to save some time.

Thanks!

[2016-01-20 22:09] mikermcneil commented on #129
Hey @gavinlee2014, could you provide some more information about the request being sent?  In particular, seeing the content type header would be helpful.  Thanks!

[2016-01-20 22:13] mikermcneil commented on #131
@Winangel thanks for following up!  @sgress454 or I will take a look at this asap.

[2016-01-20 23:00] #125 closed

[2016-01-20 23:03] mikermcneil commented on #109
@vbogdanov Hmm, yeah we're just tallying up bytes as chunks arrive (I don't think there's a way we can figure out the remaining length of the stream-- that'd be easier.  But something funny does indeed seem to be going on.  Would you mind posting your versions of Skipper/Express/Node/NPM for reference?

[2016-01-21 00:19] mikermcneil commented on #124
@vikeen Thanks for posting your research!  It'll be especially helpful for folks finding this issue via search.

Agreed-- although I think specifying a function for `saveAs` would solve this problem, right?  I think we need to expand the docs on the subject though, since I don't see anything about how to access the filename from the stream in the README.

So in the example you posted:

[code]

I'd

[2016-01-21 01:48] vikeen commented on #124
@mikermcneil I was able to solve the problem like this.

[code]

The problem was me calling `dirName` instead of `dirname` for the s3 upload config.

However, it was clear to me that core features of the knox client were being inherited via skipper and then to skipper-s3 (e.g. saveAs and dirname). Maybe that's worth noting on the plugins?

[2016-01-21 05:40] MuslimMunir commented on #128
@mikermcneil  It too much easy to reproduce just call the upload file function without sending file in request.
the issue is when this line executes req.file('file')
and the parameter bfile has no file in it this error is thrown

[2016-01-21 09:44] vbogdanov commented on #109
Reproducible with
skipper 0.5.8
express 4.13.3
node 4.2.4
npm 2.14.12

[2016-01-25 07:03] mikermcneil commented on #49
@Alaneor @mattcodez Definitely-- this has just been a hard one to track down since we haven't been able to reproduce it and there's no failing test :/  The domain solution is a great workaround, but it sucks to have to do that!  Hopefully we can get to the bottom of this soon.

@khalilifar hmm is the only time you see this if the file size is > than maxBytes?

@jessearmand That's odd- are you stil

[2016-01-25 07:26] khalilifar commented on #49
@mikermcneil yes. it uploads fine when files are < maxBytes but when it's larger, I do get the file size error and  I can send the error back to user but i can't remove the half uploaded file (Not even using windows, file gets removed but it reappears ) until i shut the server down. and if I try to overwrite it server crashes.

[2016-01-25 08:45] mikermcneil commented on #49
@khalilifar thanks for the quick follow up!  First off- I'm almost certain you're using Skipper disk, but just checking (because maxBytes is currently enforced at the adapter level).  Now assuming that's the case, here's where it's handled: https://github.com/balderdashy/skipper-disk/blob/721eeb29e676f0c9994c07c7d476226dc5a51cd5/standalone/build-progress-stream.js#L111

And specifically, here's th

[2016-01-25 08:56] mikermcneil commented on #74
@boshido @metzuda @Emiyashirou @Uminily @megakoresh @devinivy I reopened https://github.com/balderdashy/skipper/issues/49 -- would you guys please let us know there if this is still happening for you?  Also, if you are still seeing this, when you respond to the other issue, if you could provide [version information](https://github.com/balderdashy/sails/blob/master/CONTRIBUTING.md#ii-issue-contribu

[2016-01-25 09:45] khalilifar commented on #49
Thanks for spending time on this, Yes i am using Skipper disk  And No that didn't solve the problem server stills crashes. I get this error when i try to upload a file that is > maxBytes

-------------------------------------------------------------------------------------------------------

[code]

[2016-01-25 10:50] khalilifar commented on #49
Sorry I didn't pay attention to the error. the above error is irrelevant i think
had to comment line 132 as well.
But still that didn't solve the problem either,
I don't think the problem is happening there. the problem is when an error happens, the file is kept open by something. and that's why it can't be removed even using OS, and that's what causes the server crash when you want to overwrite a

[2016-01-25 18:48] cburatto commented on #49
I don't have this error on skipper disk, only on gridfs (didn't try others). I have the feeling that the problem is that the upstream to gridfs is closed before the server can detect the upload connection is closed. Then, it probably tries to send the data to an upstream that was closed. This could explain why it doesn't happen to skipper disk, since it is still possible to append to a file, even

[2016-01-29 06:54] JerryC8080 opened #133 "Can't parsing req.body after update skipper to v 0.5.9 on Sails"
I post a ajax request in this way:

[code]

The code was running normally on version 0.5.8.
But after update to 0.5.9 ，req.body was empty if i use this way to post a ajax request.

[2016-02-01 16:37] mikermcneil commented on #133
@JerryC8080 thanks for the heads up- we'll look into it ASAP.

[2016-02-01 16:38] mikermcneil commented on #133
(In the mean time, if you wouldn't mind showing what your backend code looks like, that'd be helpful)

[2016-02-01 17:14] mikermcneil commented on #128
@MuslimMunir I understand that it's easy to reproduce for you locally, but I can't reproduce it over here :/  If you don't have time to put together a repo that reproduces this, can you help me out by providing your Node, NPM, Skipper version and framework (Sails or Express) version?  If you aren't sure what version of skipper you're using, please just run `node-v && npm -v && npm ls` and post the

[2016-02-01 17:15] mikermcneil commented on #49
@cburatto @khalilifar Thanks for the follow up guys- @sgress454 and I are looking into this today.

[2016-02-01 17:23] #127 closed

[2016-02-03 10:45] andruu opened #134 "Support HTML5 FormData"
When trying to upload files with FormData everything after the file is dropped from req.body. If the file field is left empty it works fine. A work around is to manually build the FormData object using FormData.append().

[2016-02-08 04:06] emudojo commented on #128
Actually I was hitting the same error, and is somewhat easy to reproduce.

if the bodyparser finds a file, EMAXBUFFER starts ticking, if for instance I decide that I NO LONGER want to do req.file('name').upload({..}) because .. reasons

then there's NO way to stop the  timeouts.untilMaxBufferTimer in the Upstream class, I was looking for a way to do req.file('name').discart|delete|ignore() but no,

[2016-02-13 02:31] OwaysisApp commented on #91
+1

[2016-02-20 23:00] #129 closed

[2016-02-20 23:00] #130 closed

[2016-02-21 23:00] #124 closed

[2016-02-22 12:35] webmasterslava opened #135 "skipper deprecated"
When I uncomment `bodyParser: require('skipper')` in `config/http.js` I get this error:
[code]

[2016-02-22 15:31] sgress454 commented on #49
@khalilifar Sorry for the delay--just getting back to this.  Is it fair to say that the error you are seeing is not directly due to aborting an upload, but occurs after you _retry_ an upload with the same name after a failure?  If so, still a totally valid issue, but would you mind posting a separate report for it?  I'm fairly close (I hope) to cracking the main abort issue, so I'd like to separat

[2016-02-22 15:43] sgress454 commented on #135
@webmasterslava Are you uncommenting the `middleware: {` property as well?  If so, the warning should be the least of your worries, as your requests will simply hang (see the issue [here](https://github.com/balderdashy/sails/issues/3592)).

If you're _only_ uncommenting `bodyParser: require('skipper')`, so that it's directly underneath `module.exports.http`, it should work fine.

[2016-02-22 15:51] sgress454 commented on #133
Hm, only thing that changed btw 0.5.8 and 0.5.9 was the version of connect.  And the only updates to _connect_ were themselves dependency upgrades, including upgrading the `body-parser` dependency.  So it's possible that something in there changed.  But to be really certain the best thing would be for us to be able to reproduce the issue, so if you could provide the backend code (or better yet, a

[2016-02-22 18:34] sgress454 commented on #49
Ok, I was able to write a [failing test for this in skipper-adapter-tests](https://github.com/balderdashy/skipper-adapter-tests/blob/3cc2c131e6aef90d8b79768ef816be12eb863843/tests/abort.test.js), then put a fix in Skipper that makes the test pass (at least with skipper-s3).  If anyone who was having this issue wants to pull down Skipper from the master branch and try it in their project, I'd appre

[2016-02-22 18:49] cburatto commented on #49
That's great, thanks a lot for working on this! I'll try whenever possible, but just to answer your previous question: I experience this error just by closing the browser tab -- so this doesn't seem to be a file upload "retry" issue (skipper-gridfs).

[2016-02-22 22:06] sgress454 commented on #134
Hi @andruu, can you post a little bit more info, such as the version of Skipper you're using and some code that can be used to reproduce the issue?

[2016-02-22 22:10] sgress454 commented on #134
Possibly related to #133 ?

[2016-02-23 23:56] OwaysisApp commented on #49
+1

[2016-02-24 01:05] sgress454 commented on #49
@OwaysisApp +1, you have the same problem?  +1, the updated code solves your problem? +1, you agree with @cburatto that I'm great? (appreciated, but not immensely helpful).

FYI the easiest way to test the updated code in your app is:

[code]

and then in config/http.js:

[code]

It's important that the bodyParser property be at the top level (module.exports.http), and not under the "middleware" p

[2016-02-24 01:14] OwaysisApp commented on #49
haha sorry, same problem (aborted upload).  Moved over to 'skipper-better-s3', works better.

but best of luck.

[2016-02-24 08:47] Alaneor commented on #49
@OwaysisApp As the author of that package, I feel obliged to warn you that the problem discussed here is not fixed nor worked around in any way in skipper-better-s3.

[2016-02-24 10:24] sgress454 commented on #49
@Alaneor Have you seen this issue using skipper-better-s3?  I'm unable to get the abort test to fail with it, even after removing the patch from Skipper, likely because the underlying aws-sdk code doesn't handle stream errors.  This isn't necessarily a bad thing--how error handling should be delegated between Skipper and the adapters is an open question that is likely at the heart of what caused t

[2016-02-24 12:18] Alaneor commented on #49
@sgress454 I just tested this with skipper-filesystem adapter and the crash on upload abort is no longer occuring. Instead, it seems that Skipper properly catches that error and logs a `verbose` message that the request was aborted. Nothing further happens in the file upload lifecycle (ie. my completion function is not called).

Which means the original problem is somehow magically solved on my sy

[2016-02-24 17:33] calidion opened #136 "how to add express.Router object with sails and how to make a policy for it?"
I have a Router object  which can be merged to certain route prefix with express.
but i don't know how to merge it with sails and add policies for it.

[code]
can work, but

[code]

seems not.

[2016-02-24 17:39] calidion commented on #136
sorry for pasting in a wrong place.

[2016-02-24 17:39] #136 closed

[2016-02-24 20:23] sgress454 commented on #49
@Alaneor hm, and you're definitely using the published 0.5.9 version of Skipper?  It's not linked to the Github repo or anything?

[2016-02-24 20:26] Alaneor commented on #49
I am positive. My _package.json_ even has that version as minimum required:

[code]

[2016-02-24 20:33] sgress454 commented on #49
I meant linked as in `npm link`.  But I'm guessing you'd remember if you pulled the new Skipper code with `git pull` somewhere.  In any case I never tested the upload abort error with anything besides skipper-s3, since that was the first one I got it to fail with.

[2016-02-24 20:38] Alaneor commented on #49
Oh I see - nope, nothing like that.

I am quite sure I got the error with `skipper-filesystem`, and I faintly remember that while debugging it I came to conclusion that this error comes from Skipper itself and not from one of the adapters.

[2016-02-24 20:47] sgress454 commented on #49
It comes from Skipper trying to handle multiple fatal errors, which may or may not be emitted depending on whether the adapter handles stream errors itself.  In skipper-s3, the knox-mpu-alt module handles stream errors by calling its callback with an error, which bubbles up to a fatal error in Skipper.  In skipper-better-s3, the underlying AWS module doesn't handle stream errors directly, so nothi

[2016-02-26 00:11] sgress454 commented on #129
@gavinlee2014 Just posted an example of parsing XML using a custom body parser config in [Sails101](https://github.com/sails101/use-xml-body-parser).  Having Skipper ignore requests it can't handle and just pass them along is not a stable solution because we have no guarantee that there _is_ another body parser in the middleware stack--better to fail than to let actual app code run with jacked up

[2016-02-26 03:09] hammady opened #137 "Include skipper-csv to the README?"
I have developed [skipper-csv](https://github.com/hammady/skipper-csv) adapter to stream parse CSV uploads in-flight with a callback for each parsed row.
Is there a place for all contributed adapters or you just describe them in the README?

[2016-02-26 18:47] irlnathan commented on #137
Howdy @hammady,

Check out [available-adapters](http://sailsjs.org/documentation/concepts/extending-sails/adapters/available-adapters).

Best, Irl

[2016-02-26 18:47] #137 closed

[2016-02-27 08:19] dan-astiak commented on #49
@sgress454 Sorry for late answer, yes it does occur when i try to retry an upload, but it happens when skipper _aborts_ the upload due to size limit which is probably the same thing that happens when you cancel an upload mid way. so i think solving the abort problem will solve this problem as well. (if it's solved by successfully  terminating the stream that locks the file and doesn't allow it to

[2016-02-27 10:14] khalilifar commented on #49
@sgress454 Sorry for late answer, yes it does occur when i try to retry an upload, but it happens when skipper aborts the upload due to size limit which is probably the same thing that happens when you cancel an upload mid way. so i think solving the abort problem will solve this problem as well. (if it's solved by successfully terminating the stream that locks the file and doesn't allow it to be

[2016-02-29 07:49] Nishchit14 commented on #49
@mikermcneil
@sgress454

I am also facing this problem.
It would be fine if uploading process goes smooth, and have some example with 100kb file to 100mb size of file upload so we can achieve confidence for file uploading.

We are facing so many issue with file uploading, And some are only occur in production only.

Recently i got one issue in **production** like when i upload **multipart** `file`

[2016-02-29 09:29] sgress454 commented on #49
Hi @Nishchit14, sorry to hear it. Let's try and keep this thread focused on the issues with aborting uploads. If you're having this issue, please try the suggestions above for testing with the patched, master branch of Skipper.

Are you using SSL in production? If so, please see https://github.com/balderdashy/skipper/issues/71 for a discussion of possible issues that could be related to your inter

[2016-02-29 11:54] Nishchit14 opened #138 "Upload file with meta param(s) flushes body"
I am uploading file with default skipper, sometime it works fine but suddenly it shows like request body flush out when image file attached.

First time `req.body` print empty `object {}`, also verbose logs as below, and then next request it hangs, no console printed out.

**This is my route**

[code]

**This one is my postman request**

![image](https://cloud.githubusercontent.com/assets/5078921/

[2016-02-29 15:23] sgress454 commented on #138
@Nishchit14 is this over an SSL connection?

[2016-02-29 15:29] sgress454 commented on #71
Just an update on this, I am still unable to replicate this locally.  I've tried using a simple Sails app with self-signed certificate, and also tried it through an Nginx proxy (side note--if you want to install Nginx with SSL support on OS X, _use Homebrew_, or risk losing hours of your life).  The next step would be to try in Heroku, to replicate @corbanb's findings (hopefully using their Docker

[2016-02-29 20:48] corbanb commented on #71
As a reminder I have left comments above on how to test and what the logs look like:

https://github.com/balderdashy/skipper/issues/71#issuecomment-78316205 - sails app (might need to be updated now)

https://github.com/balderdashy/skipper/issues/71#issuecomment-88589779 - log output

[2016-02-29 23:04] stellanor commented on #49
:+1: for @sgress454 's fix. I'm no longer experiencing crashes. Aborted uploads errors are now being caught and returned as 500s. Thanks!

I followed these instructions:

`npm install github://balderdashy/skipper`

and then in config/http.js:

[code]

[2016-02-29 23:26] sgress454 commented on #49
@stellanor glad to hear it, thanks for the update!

[2016-03-01 04:43] Nishchit14 commented on #138
@sgress454 No

Have a plan in future to setup SSL.

[2016-03-01 19:59] sgress454 commented on #49
@cburatto thanks for all the research. I think the source of the particular issue in this thread is pretty well defined (certain adapters throwing errors that were not being handled properly by Skipper).  If you care to test the patched code (see instructions [here](https://github.com/balderdashy/skipper/issues/49#issuecomment-187995676)) and confirm that aborting a request no longer crashes your

[2016-03-01 20:19] sgress454 commented on #138
@Nishchit14 I'm unable to reproduce this issue using the code you provided.  But first I had to replace the calls to `res.isJson`, since those are not available in Sails core, leading me to believe that perhaps you have some other things installed that could be causing the issue?  I encourage you to try reproducing the issue with a new repo, and if you can, uploading it for us to take a look.  Her

[2016-03-02 07:47] Nishchit14 commented on #138
@sgress454

 Reproduced [here](https://github.com/Nishchit14/skipper-issue-138)
- Sails 0.12.1
- CentOS release 6.6 (Final)

[2016-03-02 16:22] cburatto commented on #49
Thanks. I am getting npm "Permission denied (publickey)" errors on my work computer, but installation worked from home (fix not tested yet). Is there any instruction regarding keys? It could also be a proxy issue, but other NPM installs work without problem through the proxy.

[2016-03-02 16:38] sgress454 commented on #49
@cburatto Hm, not sure exactly how NPM works with Github, but you can always just `git clone` Sails into a folder on your system and then symlink to it!

[2016-03-04 05:14] Nishchit14 commented on #138
After so many tries failed (moving `0.12.0` to `0.12.1` vice versa also try `0.10.5`), at last removed all `node_modules` **locally** & **globally**. Reinstalled them again and its work.

[code]

[2016-03-04 06:09] Nishchit14 commented on #138
**Ooops**, Unexpected behavior :sweat:  , Again same prob.

Anyway we are moving on **base64**.

[2016-03-04 13:46] sgress454 commented on #138
@Nishchit14 I was unable to reproduce with your repo.  Granted I'm trying on OS X so maybe it's an issue with CentOS (or Chrome on CentOS).  What size file are you trying to upload?

[2016-03-05 04:31] Nishchit14 commented on #138
@sgress454
 I am trying to upload **100kb** to **6Mb** images, And my server is Centos, I am requesting from **postman** on chrome & **android app**.

Will send you personal message on [gitter ](http://gitter.io/)for server access if you don't mind.

[2016-03-07 23:49] acrodrig opened #139 "Consuming Body in Controllers has no effect"
I am trying to store a value for a `binary` field via a controller. It looks like this:

[code]

My problem is that I never get any data.

[2016-03-08 03:06] JerryC8080 commented on #133
I’am sorry for too late to response this issue. I apologize for my laziness.
I think that is no matter of back end code.
Once i generate a new sails app by `sails@0.12.0`, and provide a test interface `/test`,
and then use the way above to send a POST http request to test interface but back end get nothing in the `req.query` and `req.body`;

the part of test interface in back end:
[code]

[2016-03-08 16:40] apmitchell opened #140 "Stream file to buffer"
How can I pipe req.file('foo') into a buffer?
Basically, when I use the sails.io client, I pass a file in the params

[code]
and the server receives req.body.file as a buffer.

How is the sails.io client doing this and how can I replicate it without using the client?

[2016-03-09 07:41] Mnw2212 commented on #140
I am having the same issue for the past 3 days. Have done enough of trial and error's. Nothing seems to be working.
I have a function that takes a buffer as a parameter and operates on it.
Ideally,
the kind of code I am looking for is on the following lines

    var uploadFile = req.file('uploadFile');
    var filebuffer = fileToBuffer(uploadFile);
    bufferOperations( filebuffer );

Any help wou

[2016-03-11 09:35] marcusnielsen commented on #133
Same issue all the suddnely, using version 0.5.9 of skipper.
Our ESB server is sending (removed most extra headers and form data body):
[code]
Sails generates a body of `{}`, but since this is such a large app, I can't with 100% certainty say that this isn't our teams fault.

Changing to sending raw body with JSON made it work again I think. I havent managed to track the entire data flow yet throu

[2016-03-11 23:25] mikermcneil commented on #133
@marcusnielsen gotcha, so just to clarify, the issue is with form-urlencoded body parameters, right?

I'll dig into this more momentarily to see if I can reproduce using a dumbed down request in postman, but after reading the other comments above, this could be something as subtle as a change in the bodyparser dependency version (i.e. if the json body parser started returning `null` instead of `{}

[2016-03-11 23:35] mikermcneil commented on #133
@marcusnielsen @JerryC8080 When I tested with Sails v0.12.1, Skipper 0.5.9, and on Node.js v4.3.0, using the app and action [here](https://github.com/sails101/file-uploads/blob/master/api/controllers/FileController.js) and sent a request with URL-encoded text params, they came through as expected.  To reproduce:
 [![Run in Postman](https://run.pstmn.io/button.png)](https://www.getpostman.com/run-c

[2016-03-12 10:51] 1nstinct opened #141 "_URIisValid regexp works not correctly"
Guys, I've found bug in your reg exp. While checking URI, according to [http://api.mongodb.org/java/current/com/mongodb/MongoClientURI.html](url) it has to pass URI for replication servers, for example: mongodb://localhost:27017,localhost:27017/db_name.collection_name, but it didn't.

[2016-03-14 17:23] cburatto commented on #49
Hi.
I have finally tested with the latest skipper code and the problem persists.I am using `Domain` to catch the errors and have "timed" the events. Here's the sequence:

1) Caught by req.file('file').upload({...}) :

[code]
Stringified error:
`{}`

2) Caught by Node.js Domain:

[code]

Stringified error:

[code]

Please let me know if you need any information.

Cheers.

[2016-03-14 23:01] #128 closed

[2016-03-15 09:33] 1nstinct commented on #49
While waiting for the decision I've commented string, where an exception is throwing .../node_modules/skipper-gridfs/index.js:211

[2016-03-15 11:17] #141 closed

[2016-03-15 18:15] cburatto commented on #49
I have created a pull request and merged on the skipper-gridfs adapter. Basically, it checks if an error was emitted and, if so, does not emit subsequent ones. It also avoids calling the callback after first error (this seems to have been causing the second error mentioned on https://github.com/willhuang85/skipper-gridfs/issues/20

It is working on my environment: server does not crash. Please che

[2016-03-28 15:02] BraunreutherA opened #142 "maxBytes stays at 1 mb"
Hi there,

even if I set `{ maxBytes: 20 * 1024 * 1024 }` as options the size limit stays at 1 mb. Is there a bug or am I doing simply something wrong?

NodeJs version: 4.4.0
Sails version: 0.11

[2016-03-28 23:01] #134 closed

[2016-03-28 23:01] #135 closed

[2016-04-06 07:16] cayasso commented on #43
Hi guys, any update on this issue, this is making the uploader progress functionality useless  :(

[2016-04-11 23:01] #139 closed

[2016-04-12 23:00] #138 closed

[2016-04-13 20:48] crobinson42 commented on #86
+1

[2016-04-14 11:45] Mnw2212 commented on #140
This issue exists, havent been able to solve it yet

[2016-04-15 23:00] #133 closed

[2016-04-23 19:31] crobinson42 commented on #43
Hey everyone, I have a temporary work-around for this issue. The body-parser in sails smartly separates any params passed in the request that exist BEFORE the file(s). I use `FileReader` on the front-end to get the size of the file, then I can safely calculate the upload progress based on `written / fileSize`. Hope that helps anyone that's stuck.

[2016-04-25 15:55] crobinson42 commented on #109
@vbogdanov any progress on this?

[2016-04-25 17:50] crobinson42 commented on #109
I'm experiencing the same issue when uploading multiple files under the same key. On the client I use;

fileBlob1 size is 10000 bytes
fileBlob2 size is 20000 bytes

[code]

backend:

[code]

The first file size is the aggregate size of all files but every file after that is correct.

[2016-04-25 18:33] crobinson42 commented on #109
This issue is related to the dependency node-multiparty (https://github.com/andrewrk/node-multiparty) and a similar issue https://github.com/andrewrk/node-multiparty/issues/70.

This issue has to do with the `req.headers['content-length']`

I'll continue to investigate a solution..

[2016-04-25 19:47] crobinson42 commented on #109
A consistent workaround to get the correct file size:

[code]

[2016-04-26 10:33] ram-you commented on #67
@mrcarl79 Thank you very very much. You and the ` arrayKey: '' `  saved my life.

[2016-05-02 23:00] #142 closed

[2016-05-06 20:57] sgress454 commented on #71
The saga continues.  After renewed interest in `maxWaitTimeBeforePassingControlToApp`, it seems like this might actually be the culprit, rather than a re-ordering of fields as we've been assuming.  For an explanation of why that delay is in there, see [this comment](https://github.com/balderdashy/sails/issues/3205#issuecomment-217309292).  We're currently thinking through alternatives (suffice it

[2016-05-10 18:08] vishnumishra commented on #49
I'm using the     "skipper": "^0.5.9"  and  "skipper-s3": "^0.5.6" but still I'm getting the error.

[code]
Quick solution I found is to use the Domain level exception handling, but "domain" is deprecated in the node ^4.2  so what I have to use.

How to fix this without domain.

[2016-05-17 05:20] Mnw2212 commented on #140
Waiting.

[2016-05-26 20:20] jamilnyc commented on #23
I get this error if I upload no files in the form with
sails 0.12.3
skipper-s3 0.5.6

How can I get it to ignore the input if the user doesn't upload anything.

[2016-05-26 22:59] luispeerez commented on #118
@Alaneor I am trying to implement your ByteCountStream class on vanilla javascript, this is what I have:

`  function ByteCountStream(opts){
    //stream.Transform.constructor.apply(this, opts);
    stream.Transform.call(this, opts);
    /*
    this.byteCount = 0;

    this._transform = function(chunk, encoding, done){
      this.byteCount += chunk.length
      return done(null, chunk)
    }
    *

[2016-05-26 23:02] Alaneor commented on #118
[code]

You are reassigning your prototype here, thus the `.on()` function which is defined on the Transform stream's prototype is not defined.

[2016-05-26 23:04] luispeerez commented on #118
So, this will be the implementation?:

`  function ByteCountStream(opts){
    stream.Transform.call(this, opts);
    this.byteCount = 0;
    this._transform = function(chunk, encoding, done){
      this.byteCount += chunk.length
      return done(null, chunk)
    }
  }
  ByteCountStream.prototype = Object.create(stream.Transform.prototype);
  ByteCountStream.prototype.constructor = ByteCountStream

[2016-05-26 23:04] luispeerez commented on #118
[example.txt](https://github.com/balderdashy/skipper/files/285480/example.txt)

[2016-05-26 23:38] luispeerez commented on #118
[code]

[2016-05-30 09:58] zolern opened #143 "Upstream/build-or-normalize-receiver.js: typo"
New err object is created, but instead of err.code is set e.code:

[code]

[2016-05-31 22:15] jamilnyc commented on #128
This is the exact issue I'm having. I have a form with a file input and if the file input is not given a file, it throws this error and crashes the app. In my situation, there are valid use cases where the user may not upload a file, but still submit the form.

I've tried a bunch of different approaches, without any luck. @MuslimMunir @boshido @emudojo  have you found a solution?

[2016-05-31 22:39] emudojo commented on #128
if you do NOT Need to process the file, then omit its reference in the controller, starting skipper with an empty file will trigger the error, another option is to just cancel the stream operation as I showed

[2016-05-31 23:53] jamilnyc commented on #128
@emudojo I'll give canceling the stream a shot and follow up. For the first option, how can I omit it's reference if I need to refer to it to check if anything was attached to the form submission?

[2016-06-01 00:20] jamilnyc commented on #128
@emudojo Cancelling the stream with a No Op, requires the user actually submits a file, correct? It can't be empty or missing, as you say. So it doesn't work when the user simply doesn't submit any file at all.

Here's a simple form:
[code]

And the controller to handle it.
[code]

[2016-06-03 02:14] sebastialonso commented on #23
I'm still having this bug, same situation as the rest, if file doesn't come, `Error: EMAXBUFFER: An Upstream (`NOOP_icon`) timed out before it was plugged into a receiver.` triggers.

Can't the req.file('NAME') just be null or undefined when no file is uploaded? It seems awful that the whole object it's still there when no file whatsoever is uploaded.

[2016-06-08 10:44] jurajpetrik commented on #71
this is very much still an issue, you useless bot.

[2016-06-13 08:39] idoivri commented on #23
I'm also encountering this issue. Please do something with it...  I can't seem to be able to bypass the crash even when upload() is not being called.

[2016-06-15 16:10] sijo-vijayan commented on #56
I have the same issue same as @pjnovas

[2016-06-20 04:54] dbeast86 commented on #71
Am running into the same issue. Any new solutions or updates? For now, will try separate HTTP post requests as mentioned above.

[2016-06-20 22:35] crobinson42 opened #144 "0.5.11 - error: Unable to parse HTTP body- error occurred :: 'Error: request entity too large"
@sgress454 The 0.5.11 publish broke my sails app with this error on every request:

[code]

[2016-06-20 22:36] crobinson42 commented on #144
node v4

[code]

[2016-06-20 22:43] sgress454 commented on #71
@corbanb,@jurajpetrik,@plato-cambrian,@albertkim,@tjwebb,@russellsantos,@jetsonjohn,@sailsbot,@Bartjezzz,@suyash515:

Following the path of our [earlier discovery](https://github.com/balderdashy/skipper/issues/71#issuecomment-217556631), we've made the `maxWaitTimeBeforePassingControlToApp` delay longer (500ms instead of 50ms) and also made it configurable.

Just to reiterate what @mikermcneil say

[2016-06-20 22:46] sgress454 commented on #144
@crobinson42 Oh, no.  Do you have a repo we can look at by any chance?

[2016-06-20 22:48] sgress454 commented on #144
Also, can you try the ol'  `rm -rf node_modules && npm cache clean && npm install`, just for sanity?

[2016-06-20 22:50] crobinson42 commented on #144
it's private repo for work... I removed the 0.5.11 and installed 0.5.9 again and the error went away. The error happens on every request, even simple ejs/html views with no logic.

Here's the `config/http.js`, if it helps:
[code]

[2016-06-20 22:57] crobinson42 commented on #144
@sgress454 You da' man. Haha, forgot to npm cache clean. That did the trick ;-)

[2016-06-20 22:57] #144 closed

[2016-06-20 22:58] sgress454 commented on #144
whew :sweat_smile:

[2016-06-20 23:15] dougwilson commented on #144
@sgress454, another possibility you may want to look at is that in `connect`, the body parsing defaulted to a limit of 1mb (https://github.com/senchalabs/connect/blob/2.x/lib/middleware/json.js#L29) while the `body-parser` module itself only defaults to 100kb (and more reasonable size). It's possible people upgrading will get this error if they are not setting an explicit limit and happen to send

[2016-06-20 23:23] crobinson42 commented on #144
@dougwilson is right about that.. @sgress454 any chance you would revert 0.5.x semver to using body-parser instead of connect and make the replacement using connect to a minor version bump in 0.6.x? This is kind of a breaking-change..

[2016-06-20 23:37] corbanb commented on #71
If someone wants to fork my demo app it might be pretty easy. I don't have time for this right now.

https://github.com/balderdashy/skipper/issues/71#issuecomment-88631718

[2016-06-20 23:47] sgress454 commented on #144
@dougwilson Thanks for the heads up
@crobinson42 I think you meant that the other way around (the change is moving from `connect` to `body-parser`) but I get what you mean.  I should have looked harder for differences between the two packages.  We're going to just unpublish 0.5.10 and 0.5.11, since Sails is currently set to `skipper: ~0.5.x` and we have 0.6.x out now anyway.  We'll also set the de

[2016-06-21 23:00] #140 closed

[2016-06-24 10:48] Blynskyniki opened #145 "The problem with the closing of the stream of uploading files"
When you upload files to the server browser hangs waiting for a response, but the server writes in the log that everything has fulfilled successfully. The hypothesis that Skipper data stream from the client to the active state blocks the reception of responses from the server. We must find a way to reset the server input stream and pass the error code.
We've tried this:

var readUpStream = req.fil

[2016-07-05 08:41] calidion opened #146 "vulnerabilities found"
┌───────────────┬───────────────────────────────────────────────────────┐
│               │ Regular Expression Denial of Service                  │
├───────────────┼───────────────────────────────────────────────────────┤
│ Name          │ negotiator                                            │
├───────────────┼───────────────────────────────────────────────────────┤
│ Installed     │ 0.5.3

[2016-07-05 23:00] #143 closed

[2016-07-07 16:22] sgress454 commented on #146
This was the result of leaving in the (unused) `connect` dependency in `package.json`.  It's been removed in 0.6.2 and no vulnerabilities remain.

[2016-07-07 16:22] #146 closed

[2016-07-12 22:55] r3wt opened #147 "Malformed JSON request crashes skipper"
crashes skipper with:

[code]

REPRO:

send any fieldName without encapsulating in quotation marks, as below. you will probably need to make the request with a http request tool. i used HTTPRequester for Firefox, should be reproducible in chrome with Postman. This should not be able to crash a server but it does.:

[code]

[2016-07-15 21:00] JOGUI22 opened #148 "Skipper works in HTTP, not in HTTPS"
Hello people. I will try to explain this problem short and correct. I'm developing a project with Sails (backend) + Angular2 (Frontend). I'm implementing a simple upload image feature to let users change their photo of profile.

`Nodejs -v ` v5.10.1
`sails -v` 0.12.3

My code in the **frontend**, that makes the POST with the file :

[code]

Code in the **backend**, where the api Rest function resi

[2016-07-15 21:02] llorenspujol commented on #148
+1

[2016-07-21 15:09] mehdibeldji commented on #148
Same problem on sails 0.11.5 and node 0.10.29 ...

[2016-07-22 19:10] AlexVentura commented on #65
Thanks it still working on `Sails v0.12.3`

[2016-07-25 23:00] #71 closed

[2016-07-26 06:14] magicdawn commented on #112
so what happens ? here is also a image

[2016-07-29 23:00] #145 closed

[2016-08-02 00:12] mikermcneil commented on #147
Hey @r3wt, we weren't able to reproduce this when testing locally in Sails v0.12.4/Skipper 0.6.2, both with the content-type header set to "application/json" and with no content-type header.  Can you provide some more info about what you're experiencing, and what version of Skipper (and Sails/Express) you're on?  Thanks!

[2016-08-03 03:17] kevinluvian commented on #71
@sgress454 increase `maxWaitTimeBeforePassingControlToApp` worked, at least for me

[2016-08-09 17:30] mikermcneil opened #149 "cancel file uploading , not freed disk"
**Sails version**: 0.12.4
**Node version**: 2.5
**NPM version**: 2.13.2
**Operating system**: ubuntu 14.04

<hr/>

_From @mario56 on August 8, 2016 9:35_

I use from [demo](http://sailsjs.org/documentation/concepts/file-uploads#?write-controller-actions)

my code
[code]

step to reproduce:

1. choose when file (1G)
2. click upload button
3. to terminal , run 'df -u' command every second. I find di

[2016-08-09 17:30] mikermcneil commented on #149
_From @sailsbot on August 8, 2016 9:35_

Hi @mario56!  It looks like you missed a step or two when you created your issue.  Please edit your comment (use the pencil icon at the top-right corner of the comment box) and fix the following:

* Verify "I am experiencing a concrete technical issue (aka a bug) with Sails (ideas and feature proposals should follow the guide for proposing features and enha

[2016-08-09 17:30] mikermcneil commented on #149
_From @mario56 on August 8, 2016 9:38_

Ok, fixed!

[2016-08-09 17:33] mikermcneil commented on #149
ok fixed!

(btw @sgress454 we need to get the issue template showing up in this repo)

[2016-08-09 17:57] mikermcneil commented on #149
(@sgress454 oops nvm, I was looking at the wrong issue)

[2016-08-09 18:26] NathanMrtns opened #150 "Cant get it to work with my route."
So, I have a model(mongodb)  called Project, and this project has an Image, and I want to save its path on my db.

This is the post Route:

[code]

The html form has this input file field:

``` <input id="file-input" accept='image/*'  onchange="previewFile()" type="file" name="pimage" ng-model="ctrl.ProjectImage"/>```

The form has not action nor method tag. After submission, the form calls an Ang

[2016-08-09 18:29] NathanMrtns commented on #150
Sorry for the post. I haven't read the contribution guidelines. I thought I could make some questions here too.

[2016-08-10 17:28] #150 closed

[2016-08-16 10:58] mikermcneil commented on #109
@crobinson42 thanks for the workaround!  Obviously that won't work with other adapters, but it'll help a lot of folks out in the mean time.  @sgress454 or I will take a closer look at this as soon as we can.

[2016-08-23 08:41] erdogankaya opened #152 "Unable to parse HTTP body- error occurred"
i got this error. How can i fix it?
Unable to parse HTTP body- error occurred :: 'Error: EUNFNTEX: Timed out waiting for known text parameters to finish streaming their bytes into the server.\n    at setTimer (/opt/okcular2/node_modules/skipper/lib/Parser/prototype.parseReq.js:177:23)\n    at null.<anonymous> (/opt/okcular2/node_modules/skipper/node_modules/async/lib/async.js:758:21)\n    at null.

[2016-08-25 23:01] #148 closed

[2016-09-02 00:26] carloslfu commented on #23
I'm solved the problem of `req.file('something')._files.length` using `req._fileparser.upstreams.length` instead.

[2016-09-02 08:13] vkprasadch commented on #138
Have you solved this problem?

I've on same boat as you are.

I'm testing from postman on mac to Debian wheezy

[2016-09-02 20:02] sebastialonso commented on #60
Any updates on this?

[2016-09-02 20:18] S0c5 commented on #60
Please use multer, and register it in your middlewares.

[2016-09-03 16:15] sebastialonso opened #153 "Uploading multiple files with different keys on a single request"
I'm implementing the creation of a item that has an avatar and a cover in Sails. I'm using bluebird promises to handle the uploading and posterior creation of an actual model.

[code]

When my request has both `avatar` and `cover` files I always get the infamous error
[code]
because `cover` comes after `avatar` (which saves ok). If I only send one file, everything works fine.

As far as my researc

[2016-09-04 14:52] drinchev commented on #131
Is there any workaround this problem? I'm also unable to set `maxTimeToBuffer`?

[2016-09-06 04:54] Nishchit14 commented on #138
After this error, I moved on base64 image. And now i'm not using sails.
Try this library: https://www.npmjs.com/package/nodestream

[2016-09-06 23:00] #147 closed

[2016-09-12 04:54] mjasnikovs commented on #49
`
error: error: uploadImages Error: Request aborted
    at IncomingMessage.onReqAborted (/home/vagrant/code/node_modules/skipper/node_modules/multiparty/index.js:175:17)
    at emitNone (events.js:86:13)
    at IncomingMessage.emit (events.js:185:7)
    at abortIncoming (_http_server.js:280:11)
    at Socket.socketOnEnd (_http_server.js:431:7)
    at emitNone (events.js:91:20)
    at Socket.emit (

[2016-09-13 23:00] #149 closed

[2016-09-27 23:00] #152 closed

[2016-10-08 23:00] #153 closed

[2016-10-14 17:12] rajatgoel789 opened #154 "`skipper` (bodyParser) requires node version >= 0.10.0. for node v7.0.0-pre"
Sails app is not started.
Having this issue for node v7.0.0-pre , npm version 3.10.3 and sails having version 0.12.7

info: Starting app...

`skipper` (bodyParser) requires node version >= 0.10.0.
Please upgrade Node at http://nodejs.org/ or with `nvm`
error: A hook (`http`) failed to load!
error: Error: Invalid Node.js version
    at Object.<anonymous> (/usr/local/lib/node_modules/sails/node_modu

[2016-11-15 08:41] Eklado commented on #112
Hello,
I get the same error on uploading base64 image.
I found only one solution for this issue:

http://www.howtobuildsoftware.com/index.php/how-do/bkPE/nodejs-base64-sailsjs-data-uri-data-url-sailsjs-upload-huge-base64-image

It's working on normal servers, BUT this solution not possible on Heroku, since I can't access the server code.
So did anyone found a better solution for this issue?
it is

[2016-11-15 09:01] Eklado opened #155 "Error on uploading base64 image"
Hello,
I get the following error on uploading base64 image.

`Unable to parse HTTP body- error occurred :: 'Error: EUNFNTEX: Timed out waiting for known text parameters to finish streaming their bytes into the server.\n    at setTimer (/app/node_modules/skipper/lib/Parser/prototype.parseReq.js:177:23)\n    at Timeout.<anonymous> (/app/node_modules/skipper/node_modules/async/lib/async.js:758:21)\n

[2016-11-15 19:20] sgress454 commented on #49
Alright, turned out there was another place in Skipper that was using `.once()` to handle errors, and needed to be updated to use `.on()` instead so that multiple redundant errors wouldn't go uncaught.  That's been fixed and published in Skipper 0.6.5, and I was able to reproduce the issue with a failing test on skipper-s3 that now passes.  If anyone still gets this issue on Skipper >= 0.6.5, plea

[2016-11-15 19:20] #49 closed

[2016-11-17 00:05] mikermcneil commented on #109
@vbogdanov @NAlexandrov @crobinson42 This is now fixed (to the best of our knowledge) in the latest skipper-disk and skipper-s3 on NPM (cc @sgress454)

[2016-11-18 23:00] #154 closed

[2016-11-22 23:00] #109 closed

[2016-11-23 07:41] jAmstr opened #156 "Error on using saveAs()"
I am using sailsJS. I get the __newFileStream and pipe it to a writeable stream. While doing that I got an exception.

[code]

Here is my code.

[code]

[2016-11-23 18:48] kalvish21 opened #157 "configuration for skipper"
I have skipper configured like so:

[code]

I also tried it this way:

[code]

It works but displays an error every time:

[code]

I have tried reading documentation here:

http://sailsjs.com/documentation/reference/configuration/sails-config-http#?configuring-skipper

How can I remove this error on the startup of my app?

[2016-12-02 21:23] gotmikhail commented on #138
@sgress454 the same problem happens for me, but it depends on the order in the form submitted. Once you have a file, then all other _non-file_ fields are flushed.

Uploading multiple files with the user entering a description for each, it all comes down to the order. Once a file is sent, anything _other than_ a file afterwards is flushed. Additional files, however, are kept.

Here's the `Request P

[2016-12-02 22:12] sgress454 commented on #138
@gotmikhail This is the expected behavior -- you need to put your text paramters first.  See https://github.com/balderdashy/skipper#text-parameters and https://github.com/balderdashy/skipper#the-big-assumption-field-order

[2016-12-02 23:33] gotmikhail commented on #138
@sgress454 Thank you. Just what I was looking for.

[2016-12-06 21:18] mikermcneil commented on #157
@kalvish21 Thanks for posting!  What version of skipper and sails are you using?

[2016-12-06 21:20] kalvish21 commented on #157
[code]

[2016-12-07 00:03] mikermcneil commented on #67
@mrcarl79 thanks for posting that!

@vinhtq @RSSGergelyMunkacsy @ram-you @mrcarl79 Would love to merge a patch for this, but in the mean time I'm going to reopen this issue and change the title to clarify that this is an issue related to field name, so we have this tracked.  See https://twitter.com/mikermcneil/status/806286981856710656 and https://gitter.im/balderdashy/sails?at=58475141bc32453c289

[2016-12-07 00:07] mikermcneil commented on #156
@jAmstr To clarity, is this with a custom receiver/fork of skipper disk?  It looks to me like the issue is that the receiver is not setting an `fd`, and so there's no string for it to `.match()` against.  In any case we could use a better error message here (and it sounds like this may need to be documented as well).

[2016-12-07 00:17] sgress454 commented on #156
@jAmstr Can you post the code for your `saveAs` function?

[2016-12-07 00:32] mikermcneil commented on #156
@jAmstr improved error message: https://github.com/balderdashy/skipper/commit/7a24f0c88942cef56224204450fa7c6b2cc414c4

improved docs: https://github.com/balderdashy/skipper/commit/d032554a0353c8b01a09dd691eab8a5652dacd0c

[2016-12-07 00:36] mikermcneil commented on #157
hi @kalvish21 responded here with more info: https://gitter.im/balderdashy/sails?at=584754c2f666c5a138dd2960

I think this is probably a version issue-- please try flushing out node_modules like I suggested in gitter and let me know if that works for you.  Thanks!

[2016-12-07 00:40] mikermcneil commented on #157
@kalvish21 just noticed your error has a different line no here.  @sgress454 pointed out that this could mean `req.method` was undefined, which makes me wonder about whether there's an issue in your config.  Would you post your entire config/http.js file?

[2016-12-07 00:43] kalvish21 commented on #157
[code]

[2016-12-07 00:51] sgress454 commented on #157
@kalvish21 Looks like you might have gotten bitten by an old bug:  see https://github.com/balderdashy/sails/issues/3592.  In short, there was a bug with configuring custom `bodyParser` middleware.  The workaround is to set `bodyParser` directly on `sails.config.http`, rather than `sails.config.http.middleware`, so your config would look like:

[code]

Please give that a try and let us know if it w

[2016-12-07 01:03] mikermcneil commented on #155
@Eklado Would you mind posting the http request you're using?  (I realize it'll be kind of big, sorry about that, just need to get a sense of what the request actually looks like).  Thanks!

Side note:  if you ever need to install a fork of a NPM package on heroku, the easiest solution is to change the `name` in your fork's package.json file to a namespaced version.  E.g. if your npm username is `

[2016-12-07 01:32] kalvish21 commented on #157
No, doesn't work :(. I get the same error again but this time the server never comes up. It keeps going in a loop with that error.

[2016-12-07 01:33] kalvish21 commented on #157
Is there a minor release of some sort we can upgrade to to resolve these issues?

[2016-12-07 08:38] Eklado commented on #155
@mikermcneil Thank you for your reply
I attached a sample of the request. [Request.txt](https://github.com/balderdashy/skipper/files/636072/Request.txt)

[2016-12-07 16:19] sgress454 commented on #157
@kalvish21 My apologies.  I can't believe I didn't think of this sooner:  the bug applies only to the default settings for the `bodyParser` middleware, but there's nothing inherently special about that item in the middleware list -- you can just replace it with something else.  I tested this w/ 0.10.5 after reproducing your initial issue, and it worked for me:

[code]

[2016-12-07 17:37] mikermcneil commented on #157
Minor thing to note: in the code sample above, the comment says "seconds" above the "cache" setting, but it should say "milliseconds"

[2016-12-07 18:30] kalvish21 commented on #157
Thank you! The second code example worked.

[2016-12-07 19:05] sgress454 commented on #157
Excellent, glad to hear it!  Posted this solution on your StackOverflow question as well, for posterity.

[2016-12-07 19:05] #157 closed

[2016-12-08 01:03] sgress454 commented on #131
This is fixed and published as Skipper v0.7.3.  Thanks everybody!

[2016-12-08 01:03] #131 closed

[2016-12-09 12:54] VirtualWolf opened #159 "Text parameters go missing depending on uploaded file's size?"
I've written a little custom media upload tool for the Twitter client Tweetbot (see their specification [here](http://tapbots.net/tweetbot/custom_media/) for the details of what Tweetbot sends) that takes a file attached to a tweet, saves it to disk and returns a URL for it, and saves the tweet text to Postgres. The saving and return of the URL for the filename works fine, but I've discovered that

[2016-12-15 07:22] VirtualWolf commented on #159
Ok, so I see the same behaviour happens even just by editing skipper's own `test/req.body.test.js` and replacing the two references to `suite.srcFiles` with `suite.bigSrcFiles` and moving `form.append('avatar'...` to the top. If the file is moved to the top of the fields but the source files are left as the small ones, it works as expected.

So I guess the next question is, what's the best solutio

[2016-12-15 19:46] xhallix opened #160 "Skipper should promote files to .tmp also if a custom dir is provided"
Hi,

I'm uploading my files with skipper using `dirname`.
However,  if a file is uploaded, without having a grunt task running, those files will never see `.tmp` folder until `sails lift `, which is pretty bad because I need to access this files after uploading.

I would like to see skipper handling this.
IT could have a `dirname` and also upload it to  `.tmp`
Cheers

[2016-12-15 19:51] xhallix commented on #160
At least we should have the options to specifiy more than one folder, so we could upload to multiple `dirs`

What you think?
Will do a PR if you want

[2016-12-21 18:41] Ggleny commented on #71
@kevinluvian  where you set maxWaitTimeBeforePassingControlToApp ?

[2016-12-28 09:46] VirtualWolf commented on #159
So after many hours of mostly fruitless Googling, I found out how to change the body parser that Sails uses just for a specific route.

I'm not familiar with Express in general, so all of the "Just add it as middleware in `config/http.js`" meant very little to me, and I couldn't find any concrete examples on how it all worked. Then I stumbled on the [use-xml-body-parser](https://github.com/sails10

[2016-12-28 09:46] #159 closed

[2017-01-02 12:00] harshmaur commented on #108
I am experiencing the same problem

[2017-01-09 12:18] jAmstr commented on #156
Thanks. Closing.

[2017-01-09 12:18] #156 closed

[2017-01-12 17:18] aodpi opened #162 "Multiple file input fields in form."
Hello! I have an issue with skipper. In my case i have a single form that has three input fields of file type one of which is multiple. When i try to upload i do a `req.file().upload()` on each form field, to get all the required files on server.

The problem is that when I nest each file upload inside callback the server hangs. I have tried async.waterfall but still no success. skipper just hangs

[2017-01-12 17:22] aodpi commented on #162
Sails version: v0.12.11
Nodejs version: v6.9.2

All breakpoints set are not hit during this process

[2017-01-17 17:34] aodpi commented on #162
One of my colleagues found the issue. The trick is that file('field').upload should be called on every fields at the same time, if it's called in series it will not work as the first call won't return any uploaded files, ever. So we implemented an async.parallel for these 3 file uploads.

[2017-01-17 17:34] #162 closed

[2017-01-19 15:30] wasbridge commented on #36
I have the same problem as @ameilland how can I make it so that skipper gives me the error so that I can inform the user?

[2017-01-19 23:00] #160 closed

[2017-01-27 17:26] ht512512 opened #164 "Reproducible - EMAXBUFFER: An Upstream (`NOOP_xyz.pdf`) timed out before it was plugged into a receiver."
Setup:
        Frontend = Ubunu 16.04, Firefox 50.1.0, Fine Uploader JS client
        Backend = Ubunu 16.04, Saisjs with Skipper among other components

I consistently get the above error for the following scenario.

All files upload correctly but the small files trigger this error, large files do not trigger it.

I have tested with the following file sizes.
8.8 MB, 2.1 MB, 1.4 MB, 898 KB, 144 KB

[2017-01-31 19:32] bberry6 commented on #157
I think I'm experiencing a similar if not the same issue as this....  My client code is POSTing a large form (~2600 inputs) resulting in a body size of about 185kB.   This is the error...

[code]

My package.json is set up to use sails ^0.12.1 and skipper ^0.5.9.

This is my current http.js config...
[code]

I have also tried using the bodyParser in the list of middlewares (order) with the bodyPar

[2017-02-03 16:40] bberry6 opened #165 "skipper custom configuration not being used"
I think I'm experiencing a similar if not the same issue as [this one](https://github.com/balderdashy/skipper/issues/157)....  My client code is POSTing a large form (~2600 inputs) resulting in a body size of about 185kB.   This is the error...

[code]

My package.json is set up to use sails ^0.12.1 and skipper ^0.5.9.
(the actual installed versions are 0.12.11 and 0.5.9).  My node version is 0.12

[2017-02-03 18:34] particlebanana commented on #165
There is an option in the body-parser config for `parameterLimit` which is set to `1000` by default. You can configure this in `config/http.js` as shown here: https://github.com/expressjs/body-parser/tree/c5a73d51483310f8443043d3927c2557993f3416#parameterlimit

[2017-02-03 18:34] #165 closed

[2017-02-03 18:34] particlebanana commented on #165
http://sailsjs.com/documentation/reference/configuration/sails-config-http#?configuring-skipper

[2017-02-03 18:35] particlebanana commented on #165
[code]

[2017-02-03 21:23] bberry6 commented on #165
I think the problem isnt in the number of parameters in the URL (my code only has 2 or 3).  The problem is that the body of the POST data is too large.  Ordinarily, i would try to fix this by modifying the [limit](https://github.com/expressjs/body-parser/tree/c5a73d51483310f8443043d3927c2557993f3416#limit-3) property, but it doesnt seem to be taking effect, because I attempt the test again and get

[2017-02-22 11:49] chanon commented on #148
Can anyone confirm if skipper works with https?

[2017-02-28 10:56] rosygupta commented on #49
@sgress454 Worked by using this solution for skipper-disk:

FYI the easiest way to test the updated code in your app is:

npm install github://balderdashy/skipper
and then in config/http.js:

module.exports.http = {
  bodyParser: require('skipper'),
  ...rest of file...
}
It's important that the bodyParser property be at the top level (module.exports.http), and not under the "middleware" property.

[2017-02-28 15:47] sgress454 commented on #49
@rosygupta Glad you got it working.  That solution (putting `bodyParser` directly under `http`) should only be necessary on versions of Sails before v0.12.  From v0.12 on, it should definitely go underneath `middleware`.

[2017-03-03 23:00] #164 closed

[2017-03-13 04:39] KraFusion opened #167 "Skipper passing control back to app before fully parsing form data"
I am using skipper with the skipper-s3-resizer adapter and I am seeing different behavior between local and dev environments. Locally I can upload images with no issues whatsoever (100% of the uploads were successful), but in my dev environment the request is aborted every single time. I have had zero successful uploads in the dev environment using the exact same code and node_modules/versions, et

[2017-03-14 04:19] KraFusion commented on #167
Here is what the request payload looks like.
The image is the last item in the payload.

[code]

request headers:
[code]

[2017-03-15 16:09] Bazze commented on #115
Under `upstream.pipe` in the documentation it says:

I'm currently trying to figure out how to actually do this since I can't really find any examples for it :(

[2017-04-03 23:56] KraFusion commented on #167
Getting back to this... I just switched body parsers to formidable and was able to upload images no problem, 1st try ( local disk and to a s3fs mounted S3 bucket) .

I also tried just a basic test of fs.createWriteStream to the local filesystem and to a s3fs mounted S3 bucket, no dice.

I think I can safely say that this is definitely a skipper issue and not an issue with a supplemental package or

[2017-04-04 03:52] mikermcneil commented on #167
@KraFusion Would you mind posting that here?  It'd help to be able to reproduce this.  Thanks for the follow-up!

[2017-04-05 00:16] KraFusion commented on #167
Closing this issue now. It turned out not to be a skipper issue, it was a dependency issue that silently failing.
My initial gut reaction was correct, there had to be a difference between my local setup and AWS, but I just could not find out what the difference was.
I caught the error by essentially checking for err in all of my callback functions and switching to methods that used callbacks where

[2017-04-05 00:16] #167 closed

[2017-04-12 07:05] jblazevicClover commented on #71
i just uncomment   bodyParser: require('skipper') in config/http.js and do in terminal npm install skipper.

[2017-05-11 19:48] liuzhen2008 opened #170 "How to load a file in the local file system?"
Say i have a file generated in the local file system /tmp/tobeuploaded.txt

Can I use skipper to upload it to s3?

The file in question is generated by a cron job by ffmpeg.

[2017-05-15 04:13] mukk85 commented on #67
Any progress on this issue? By default browser formData submits with the [] in the parameter name.

[2017-05-31 11:53] SergioGeeK7 commented on #49
Hi, my application crashes when I throw an error in the saveAs function
`return next(new Error('File-type does not allow.'));`
I already tried to update skipper and required in http file... there's any solution to this to I can catch the error on whenDone function ?

[code]

[2017-06-04 18:09] forestallers commented on #67
@mrcarl79 +1

[2017-06-06 16:29] crh3675 opened #171 "No access to multiparty options"
We needed to update the multiparty default maxFields and were unable to.

https://github.com/balderdashy/skipper/blob/master/lib/Parser/prototype.parseReq.js

Can you expose a means to manage those through Skipper?

[2017-06-15 23:00] #170 closed

[2017-07-11 23:00] #171 closed

[2017-07-18 10:24] crh3675 commented on #171
Please re-open, this option should be available

[2017-08-10 03:03] SrengGueckly opened #172 "How to get UUID?"
I stuck on getting UUID after the file was uploaded, anyone know how to get the UUID please...

[2017-08-11 09:27] iyogeshjoshi commented on #128
as @emudojo said usually people neglect reading module, I noticed that the author has done a really good job of assigning all the `timeouts` with `Upstream` object, following is the snippet of the same:
[code]
So it seems if you clear those timers it won't throw any error, but I'm not sure if this is the right way to do this. So in case where you're NOT sending any file and it throws error, follow

[2017-08-18 21:11] emudojo commented on #128
having to deal with those timeouts by hand is not ideal, but as of now there's no other way

[2017-08-21 08:02] raghavgarg1257 commented on #140
@Mnw2212 , did you found some solution?

[2017-08-25 17:49] Dragons0458 commented on #49
@SergioGeeK7 Hello, could you solve the problem?

[2017-08-25 17:57] Dragons0458 opened #173 "Problems returning an error in "saveAs""
Hello!

When I try to return an error in the "saveAs" function my application closes. This is my code:

[code]
Is it a bug or an error of mine?

¡Thank you!

[2017-08-26 14:36] SergioGeeK7 commented on #49
no, I wasn't able to solve properly. I just use the next ugly code to resolve the problem.

` const filename = 'resume';
    const upstream = req.file(filename);
    const files = upstream._files;
    upstream.on('error', (err) => console.log(err));
    if (!files[0]) {
      return saveUserSkills(req, res);
    }
    const errorMessage = validateFile(files);
    if (errorMessage) {
      return n

[2017-08-27 01:32] Dragons0458 commented on #49
It is a good solution, I will implement it while solving this bug.

If I find something I'll let you know, thank you very much!

[2017-09-07 09:16] dickp opened #174 "Skipper inadvertently corrupts req.headers when it can't parse the body"
This issue was discovered when using http-proxy-middleware after the bodyParser stage, and it only affects DELETE requests.

In `_parseHTTPBody ()`, the parsing falls through to the re-run of the JSON bodyparser.  It takes a copy of `req.headers['content-type']` - but this is undefined.  Parsing fails again, so the line `req.headers['content-type'] = backupContentType;` has now set the content-typ

[2017-09-14 23:00] #172 closed

[2017-09-18 14:22] krthr opened #175 "Error with the Error instance in saveAs option"
I'm getting this error when a try to upload a file that isn't audio/mpge

[code]

I have tried so many things, but i don't figure it :c
[code]

[2017-09-23 22:18] ELIDJEAKA commented on #128
it does not work for me, how to solve this problem that has embroiled me for several days
`let skipper = require("skipper")
 module.exports = {
    uploadFile: function(req,res){
      req.file('image').upload(function(err,file){
          if (err) console.log(err)
          res.json({"status":"file upload successfully","file" :file})
      })
    }
 };
`
this's my error log :+1:
silly: Subscribed

[2017-09-29 23:00] #173 closed

[2017-10-09 19:24] dickp commented on #174
Is this project still active?

[2017-10-13 00:51] mikermcneil commented on #174
@dickp I always wonder what that means :p  We obviously try to make as few changes as possible once things are working, but of course we fix bugs when they come up.  Unfortunately, we're not always personally available to look at issues since we have a lot to maintain (and other projects we contribute to in order to pay the bills)

Anyway, just to be clear: this module is used in Sails core, so it

[2017-10-13 00:53] mikermcneil commented on #174
![](https://github.trello.services/images/mini-trello-icon.png) [AASU, I want skipper to avoid attaching `undefined` request headers that aren't actually there](https://trello.com/c/mvun02cp/307-aasu-i-want-skipper-to-avoid-attaching-undefined-request-headers-that-arent-actually-there)

[2017-10-20 13:27] Pollocks01 commented on #49
I was getting 'Request aborted' when using formidable and request when doing more than around 1 request per second: it was fine slower than that. I added header connection: 'keep-alive' and that fixed it.
Maybe off-topic but might help someone. This is where I got the idea from.

[2017-10-23 23:00] #175 closed

[2017-10-26 10:46] kotmatpockuh commented on #175
Hi, @krthr how did you solve this issue?

[2017-10-26 11:07] kotmatpockuh commented on #49
Getting the same error with server-crash on Sails.js v1.0...
Any ideas how to solve?

[2017-10-26 11:09] kotmatpockuh commented on #175
@sailsbot @balderdashy please reopen!

[2017-10-26 15:03] sgress454 commented on #49
Hi all -- I'm locking this issue since it's gotten polluted with posts about several seemingly different problems.  If you're experiencing the original "abort" issue with Skipper, or a new issue, please make a new post with a detailed description and instructions to reproduce!

[2017-10-30 09:40] coyotte508 opened #178 "Add promise support"
Make the `Upstream` object thennable, in order to be able to cleanly use ES6's Promises and await / async.

So that instead of:

[code]

We can simply do:

[code]

In order to do that, a `.then(resolve, reject)` methods needs to be added to the `Upstream` object. It would call `resolve` once all uploads are done, and `reject(err)` in case of an error.

[2017-12-01 08:01] coyotte508 commented on #178
Hello, I'm ok to close this if this is not relevant, I'd just like an answer from someone.

[2017-12-11 10:46] kiplphp38 commented on #65
Thanks @kball is working like a charm.

[2017-12-18 15:39] ShepelievD commented on #91
UP 👍
any ideas how can I use it with sharp.js or gm.js?

[2017-12-20 07:11] danywheeler commented on #119
@jackwanders  I have the same needs, but used your code it's not working .
![image](https://user-images.githubusercontent.com/8910772/34195298-b80b356e-e597-11e7-81e1-13f54b7be52e.png)
this is what send to other storage service, it uncompleted.

![image](https://user-images.githubusercontent.com/8910772/34195340-fd73ca8a-e597-11e7-83f9-a78632b6c1f8.png)
this is what I did.

[2017-12-26 09:20] nishantpradhan opened #179 "error: Unable to parse HTTP body- error occurred :: 'Error: invalid json\n"
I am getting the following error  while we upload image file to Amazon S3 bucket

`error: Unable to parse HTTP body- error occurred :: 'Error: invalid json\n    at parse (/home/blickx/Downloads/globetek prod/node_modules/body-parser/lib/types/json.js:83:15)\n    at /home/blickx/Downloads/globetek prod/node_modules/body-parser/lib/read.js:108:18\n    at invokeCallback (/home/blickx/Downloads/globet

[2018-01-05 23:01] #178 closed

[2018-01-30 23:00] #179 closed

[2018-05-02 08:26] trungducng commented on #36
Still error till now
Any fix please?

I'm working on sails ver 0.12

[2018-05-02 14:35] cubetechnology commented on #36
@trungducng just trying to fix this i put  in ur upload options maxBytes:10000000000000, and works. i just put 10000000000000 i think if u need < than that should work. let me know if u solved with this

[2018-05-28 00:03] thesaxonedone commented on #178
bump.  this is still an issue

[2018-07-20 02:48] cburatto opened #180 "skipper-gridfs is basically dead - remove references?"
No code on github; creator stated he'd like to pass the batton back in 2017: https://github.com/willhuang85/skipper-gridfs/issues/31

I believe it should not be referred as a viable adapter do Skipper.

Any other replacements for Mongo GridFS?

[2018-07-20 15:35] JesusFregoso opened #181 "skipper EMAXBUFFER ERROR."
hi im getting an error while trying to upload a file to skipper-s3 i know that exist this issue #128 but my error came when im doing testing and i sending the files, this is how my req.file('image')._files looks like.
![image](https://user-images.githubusercontent.com/8525045/43011236-194ab7dc-8c00-11e8-8edf-03cf483305f8.png)

[2018-07-28 17:21] KarovInal commented on #108
Hi @FranciZ , @harshmaur
I had a similar problem with promises.
And I fixed it with Promise.all:
`
      const uploadPromise = fieldName => new Promise((resolve, reject) => {
        req.file(fieldName).upload({
          dirname: path.resolve(sails.config.appPath, `.tmp/competitions/${newCompetitionID}`)
        }, (err, file) => {
          if (err) {
            return reject(err);
          }

[2018-08-17 21:46] mikermcneil commented on #180
@cburatto 👍 makes sense

If someone has a sec, please shoot over a PR and I'll merge it.

re: alternatives: Haven't been using gridfs myself for files so not sure  (we use S3 for everything-- did a rewrite of that this Summer actually)

[2018-08-22 03:30] wenjunxiao opened #182 "skipper-disk's fd not absolute path"
https://github.com/balderdashy/skipper-disk/blob/a6368eb26e0c91be740e3e10245c2f13fba2e35f/standalone/build-disk-receiver-stream.js#L97

current
[code]

expect
[code]

[2018-08-22 18:01] mikermcneil commented on #182
fixed now for skipper 0.8.x by above commit.  @wenjunxiao I'll leave it up to you to close this once you've verified.  Thanks!

[2018-08-23 09:11] elssar commented on #182
Can confirm that this has been fixed in `v0.8.7`

[2018-08-23 12:37] wenjunxiao commented on #182
@mikermcneil verified, fixed skipper-disk version to `v0.5.11` in `v0.8.7`, but is the better way to modify skipper-disk? Because `sails@0.12.14` depends on `skipper@~0.7.0`, this led to install `skipper-disk@0.5.12`

[2018-08-27 03:34] clonn commented on #182
i already update to skipper `0.8.7` and skipper-disk `0.5.12`, but the fd is still filename return only.

[2018-08-28 03:02] wenjunxiao commented on #182
@clonn cannot use skipper-disk@0.5.12, you must use lower version such as `0.5.11`

[2018-08-30 10:13] dbartholomae opened #183 "Make Upstream part of the public interface"
Hi there,

we are currently working with skipper on our servers and need to modify the files before uploading them. Unfortunately skipper uses the internal class `Upstream`, which as far as I've seen from the code doesn't allow for modifying before upload.
In an ideal world, `Upstream` would support being modified, but this could be a major hassle.
Currently what we do is pipe the data from the ex

[2018-09-05 20:34] kurmanka commented on #182
I second this. Same experience. Sails with skipper-disk@0.5.12 fails at file uploads with a message like this:

errno: -2,
code: 'ENOENT',
syscall: 'open',
path: '1cbc76a3-36b7-407c-ba8c-5e801fc0ffd1.psd'

(Mac OS X, node v8.9.4, sails v.0.12.14, skipper v.0.7.6)

If I install v.5.0.11 this error goes away and uploads work again. It appears as if the uploads are being looked at a wrong place, they

[2018-09-15 12:53] bangarisaiswaraj commented on #128
@mikermcneil, @boshido
I too have the same issue for file uploads. Unable to upload either by skipper or skipper-s3.
@mikermcneil can you please share any repo where it functions as expected.

[2018-09-29 23:57] thegoldenmule opened #184 "Does not respect request formatting for .NET Core"
**Description**:

Skipper requires *quotes* around _name_ and _filename_ parameters of multipart/form-data Content-Disposition headers. The builtin HTTP library for .NET Core (`System.Net.Http.HttpClient`) leaves out these quotes, which means that _by default_, **.NET Core applications cannot upload files** to sails.

The [related RFC](https://tools.ietf.org/html/rfc6266) allows for both usages.

[2018-10-01 14:49] streleck commented on #183
@dbartholomae I don't believe there are any plans to add this to skipper. It is possible, however, to make modifications on the front-end at the time of the file being uploaded.

[2018-10-01 20:15] dbartholomae commented on #183
@streleck Thanks! Our use case is that we upload multiple images to our backend and then upload one PDF with all images in there as one file to S3. We now pipe the skipper stream into a ReadStream and later on don't go back into Skipper but instead use another S3 library.

[2018-10-02 17:53] streleck commented on #184
Thanks @thegoldenmule for writing up this issue and providing a workaround! As far as I can tell, there aren't any current plans to fix this in Skipper, so hopefully other people having trouble connecting SailsJs and .Net because of the quotes will find this.

[2018-10-03 16:49] thegoldenmule commented on #184
I or someone on my team would be happy to get involved. Would you or someone else be able to point me in the right direction in the codebase?

[2018-10-29 11:07] kiranattilicho opened #185 "Not being able to configure bodyParser limit from http.js file"
As suggested in the documentation here: https://sailsjs.com/documentation/reference/configuration/sails-config-http#?configuring-skipper, I did uncomment the configuration as follows,

module.exports.http = {

  middleware: {

    order: [
       'cookieParser',
       'session',
       'bodyParser',
       'compress',
       'poweredBy',
       'router',
       'www',
       'favicon',
     ],

[2018-11-10 05:10] kenn44 opened #186 "How to download file from AWS S3?"
I well configure the upload to S3. But I difficulties to GET the files. I use action2
`
    var Skipper = require('skipper-s3');

    var fileAdapter = Skipper({
      key: s3Key,
      secret: s3Secret,
      bucket: s3Bucket,
    });
    this.res.set('Content-disposition', 'attachment');
    fileAdapter.read(person.avatarFd)
      .on('error', (err) => {
        return exits.serverError(err);

[2018-11-12 13:41] chandanpal commented on #185
dsdfs

[2018-11-12 13:59] masious opened #187 "File extension not appending"
Hi,
When I receive the uploaded file using `.upload`, the file extension is not appended to the `file.fd`.
Here is my code:
[code]
According to the docs, it should append the extension by default. Is it something that I do wrong? Or is it some problem with the Skipper?

[2018-11-12 17:01] chandanpal commented on #149
can anyone please share, how can we handle the aborted upload error. aborted file uploading , not freed disk.

at IncomingMessage.onReqAborted (/home/spyglass/callhome_from_pod/callhome/node_modules/skipper/node_modules/multiparty/index.js:175:17)
at IncomingMessage.emit (events.js:182:13)
at IncomingMessage.EventEmitter.emit (domain.js:442:20)
at abortIncoming (_http_server.js:444:9)
at socketOnC

[2018-11-13 13:54] chandanpal opened #188 "It seems that the abort upload is caused by Nginx ending the socket to nodejs server. Refer to the page about [optimizing nginx](https://engineering.gosquared.com/optimising-nginx-node-js-and-networking-for-heavy-workloads), [keepalive options](http://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive) can temporarily fix the problem."
[code]

Another issue is to handle the abort upload of large file triggered by user. For this case, it is required to provide the handler in prototype.parseReq.js as below.

[code]

_Originally posted by @twhtanghk in https://github.com/balderdashy/skipper/issues/49#issuecomment-139506144_

[2018-11-14 09:15] bilal68 commented on #23
where do i need to put this check..I am uploading from react and backend is sails...mgetting the same error in machine-as-action.js

[2018-12-14 00:01] ceol95 commented on #188
i have the same issue. how you fix this?

[2019-02-20 02:22] kayoderock commented on #71
Please, I am having this same issue with sails 1.0.2 - Is there any solution to the issue now? Thanks.

[2019-02-20 19:49] corbanb commented on #71
@sailsbot should of never closed this. @balderdashy should close source this project until its fixed.  pretty shitty of them.

[2019-02-22 22:52] german970814 commented on #181
Same issue!

[2019-02-25 13:27] german970814 commented on #65
It doesn't work in Sails v1

[2019-02-28 08:22] MuhammadZaidSE commented on #91
+1

[2019-03-13 15:32] nasiruddin-saiyed commented on #153
@sebastialonso  Did you get any solution?? I'm facing same problem

[2019-04-29 21:16] gdraganic opened #190 "Re-POST request to another service"
Is it possible to attach a file upload to another application to avoid buffering data (disk, S3, memory)? The idea is just to stream the data to another backend service if certain conditions are met. Simple piping the request does not work because of the body parser and I can not disable it because I need to validate some body params before I can resend the request. Any help would be highly apprec

[2019-04-29 21:16] #190 closed